{% from "transactions/status.macro.njk" import status %}
{% from "common/json.njk" import json %}
{% extends "layout/layout.njk" %}

{% block main %}
  <span class="govuk-caption-m">
    <span>GOV.UK Pay platform</span>
  </span>
  <h1 class="govuk-heading-m">Payment links</h1>

  <div class="govuk-body">
    {% if filterLiveAccounts %}
      <p class="govuk-body">
        <span>Filtering to only show payment links from live gateway accounts</span>
      </p>
      <p class="govuk-body">
        <a class="govuk-link govuk-link--no-visited-state" href="?live=false">
          Show payment links from all accounts
        </a>
      </p>
    {% else %}
      <p class="govuk-body">
        <span>Showing payment links from all gateway accounts</span>
      </p>
      <p class="govuk-body">
        <a class="govuk-link govuk-link--no-visited-state" href="?live=true">
          Show payment links from only live accounts
        </a>
      </p>
    {% endif %}
  </div>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


  <div>
    {% set csvHref = ("/payment_links/csv?live=" + filterLiveAccounts + "&sort=" + sort) %}
    <a href="{{ csvHref }}"
      class="govuk-button govuk-button--secondary govuk-!-margin-bottom-2">
      Export page as CSV
    </a>
  </div>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  <div>
    <table class="govuk-table">
      <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col">Name</th>
        <th class="govuk-table__header" scope="col">Status</th>
        <th class="govuk-table__header" scope="col">
          {% set sortByCreated = "?sort=payment_count" if filterLiveAccounts else "?sort=payment_count&live=false" %}
          <a class="govuk-link govuk-link--no-visited-state" href="{{ sortByCreated }}">
            Payments created
          </a>
        </th>
        <th class="govuk-table__header" scope="col">
          {% set sortByLastPaid = "?sort=last_payment_date" if filterLiveAccounts else "?sort=last_payment_date&live=false" %}
          <a class="govuk-link govuk-link--no-visited-state" href="{{ sortByLastPaid }}">
            Last used
          </a>
        </th>
      </tr>
      </thead>
      <tbody class="govuk-table__body">
      {% for group in groupedPaymentLinks %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" colspan="4">
              <strong class="govuk-!-margin-right-2">{{ serviceGatewayAccountIndex[group.key].service_name and serviceGatewayAccountIndex[group.key].service_name.en }}</strong>  <a class="govuk-link govuk-link--no-visited-state" href="/transactions?account={{ group.key }}">Transactions</a>
            </td>
          </tr>

        {% for link in group.links %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <span><a class="govuk-link govuk-link--no-visited-state" href="/payment_links/{{ link.product.external_id }}">{{ (link.product.name or "(No name)") | truncate(30) }}</a></span>
            </td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag">{{ link.product.status }}</strong>
            </td>
            <td class="govuk-table__cell">
              <span>{{ link.payment_count }}</span>
            </td>
            <td class="govuk-table__cell">
              <span>{{ link.last_payment_date | formatDateSince }}</span>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" colspan="4">
              <a class="govuk-link govuk-link--no-visited-state" href="{{ link.url }}">
                {{ link.url | truncate(80) }}
              </a>
          </tr>
        {% endfor %}

      {% else %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell center" colspan="4"><span><i>No payment links found.</i></span></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

  {{ json("Payment links list source", groupedPaymentLinks) }}
{% endblock %}
