{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "common/json.njk" import json %}
{% extends "layout/layout.njk" %}

{% set serviceName = service.service_name.en if account.gateway_account_id else "" %}

{% block main %}
  <div>
    <a href="/gateway_accounts/{{ account.gateway_account_id }}" class="govuk-back-link">Gateway account {{serviceName}} ({{ account.gateway_account_id }})</a>
  </div>

  {% if (motoPaymentLinkExists and service.agent_initiated_moto_enabled) and not account.allow_moto %}
    {% set notificationBannerHtml %}
      <p class="govuk-notification-banner__heading">The agent initiated MOTO link is enabled for this account but MOTO payments are not enabled</p>
      <p class="govuk-body">You must <a class="govuk-notification-banner__link" href="/gateway_accounts/{{ account.gateway_account_id }}/moto">enable MOTO payments</a> otherwise the link will be shown in the admin tool but payments will fail</p>
    {% endset %}
  {{ govukNotificationBanner({
    html: notificationBannerHtml
  }) }}
  {% endif %}

  <span class="govuk-caption-m">
    {% if account.gateway_account_id %}
      <span>{{ serviceName }}</span>
    {% else %}
      <span>GOV.UK Pay platform</span>
    {% endif %}
  </span>

  <h1 class="govuk-heading-m">Agent initiated MOTO</h1>

  <p class="govuk-body">
    Agent-initiated MOTO payments (‘telephone payment links’) allow service users with appropriate permissions to take telephone payments using a link on the admin tool dashboard.
  </p>

  <p class="govuk-body">The gateway account must have MOTO enabled for this to work</p>

  <div class="govuk-inset-text">
    {% if account.allow_moto %}
      <p class="govuk-body">MOTO is enabled for this gateway account.</p>
    {% else %}
      <p class="govuk-body">MOTO is disabled for this gateway account.</p>
    {% endif %}
  </div>

  {% if motoPaymentLinkExists %}
    <h2 class="govuk-heading-s">Agent-initiated MOTO payment link is configured</h2>

    {% if products.length > 1 %}
      {{ govukWarningText({
        text: "There are " + products.length + " MOTO payment links. Only the first payment link is used so something probably is not right here.",
        iconFallbackText: "Warning"
      }) }}
    {% endif %}

    {{ json("Agent-initiated MOTO products source", products) }}

    <p class="govuk-body">You can add another link, but only the first one is used so this is not advised.</p>
    {{ govukButton({
      text: "Add another MOTO payment link (not advised)",
      href: "/gateway_accounts/" + account.gateway_account_id + "/agent_initiated_moto_product",
      classes: "govuk-button--warning"
    })
    }}
  {% else %}
    <h2 class="govuk-heading-s">Agent-initiated MOTO payment link is not set up</h2>
    <p class="govuk-body">You need to add a MOTO payment link to enable agent-initiated MOTO payments. When a service user clicks the dashboard link in the admin tool, they will visit this payment link.</p>

    {{ govukButton({
      text: "Add agent-initated MOTO payment link",
      href: "/gateway_accounts/" + account.gateway_account_id + "/agent_initiated_moto_product"
    })
    }}
  {% endif %}

  {% if service.agent_initiated_moto_enabled %}
    <h2 class="govuk-heading-s">Agent-initiated MOTO payments are enabled</h2>
    {{ govukWarningText({
      text: "This setting affects both live and test accounts on the service",
      iconFallbackText: "Warning"
    }) }}
    <p class="govuk-body">Enabling this flag for a service shows a ‘Take a telephone payment’ link on the admin tool dashboard if there is at least one agent-initiated MOTO product for the linked gateway account.</p>
    <p class="govuk-body">It also allows administrators to assign users to the ‘View and take telephone payments’ and ‘View, refund and take telephone payments’ roles.</p>
    <p class="govuk-body">All gateway accounts for the service must have MOTO payments enabled or payment creation will fail.</p>
    {{ govukButton({
      text: "Disable agent-initiated MOTO payments",
      href: "/gateway_accounts/" + account.gateway_account_id + "/toggle_agent_initiated_moto_enabled"
    })
    }}
  {% else %}
    <h2 class="govuk-heading-s">Agent-initiated MOTO payments are disabled</h2>
    {{ govukWarningText({
      text: "This setting affects both live and test accounts on the service",
      iconFallbackText: "Warning"
    }) }}
    <p class="govuk-body">Enabling this flag for a service shows a ‘Take a telephone payment’ link on the admin tool dashboard if there is at least one agent-initiated MOTO product for the linked gateway account.</p>
    <p class="govuk-body">It also allows administrators to assign users to the ‘View and take telephone payments’ and ‘View, refund and take telephone payments’ roles.</p>
    <p class="govuk-body">All gateway accounts for the service must have MOTO payments enabled or payment creation will fail.</p>
    {{ govukButton({
      text: "Enable agent-initiated MOTO payments",
      href: "/gateway_accounts/" + account.gateway_account_id + "/toggle_agent_initiated_moto_enabled",
      classes: "govuk-button--warning"
    })
    }}
  {% endif %}

{% endblock %}
