{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% extends "layout/layout.njk" %}

{% block main %}
  <h1 class="govuk-heading-m">Confirm details for new gateway account</h1>

  {{ govukTable({
    firstCellIsHeader: true,
    rows: [
    [ { text: 'Account type' }, { text: request.provider | capitalize } ],
    [ { text: 'Service name' }, { text: request.serviceName } ],
    [ { text: 'Description' }, { text: request.description } ],
    [ { text: 'Is live' }, { text: request.live | capitalize } ],
    [ { text: 'Credentials' }, { text: request.credentials } ],
    [ { text: 'Sector' }, { text: request.sector } ],
    [ { text: 'Is internal?' }, { text: request.internalFlag } ]
    ]
  })
  }}

  <form method="post" action="/gateway_accounts/create">
    <input type="hidden" name="provider" value="{{ request.provider }}">
    <input type="hidden" name="serviceName" value="{{ request.serviceName }}">
    <input type="hidden" name="description" value="{{ request.description }}">
    <input type="hidden" name="systemLinkedService" value="{{ request.systemLinkedService }}">
    <input type="hidden" name="systemLinkedCredentials" value="{{ request.systemLinkedCredentials }}">

    <input type="hidden" name="live" value="{{ request.live }}">
    <input type="hidden" name="credentials" value="{{ request.credentials }}">

    <input type="hidden" name="sector" value="{{ request.sector}}">
    <input type="hidden" name="internalFlag" value="{{ request.internalFlag }}">

    {{govukInput({
      label: { text: "Zendesk ticket number" },
      hint: { text: "Entering a ticket number will respond to, but not close, the ticket. Leave blank to manually respond to the ticket in the zendesk UI." },
      id: "zendeskTicketNumber",
      name: "zendeskTicketNumber",
      autocomplete: "off"
    }) }}

    {{ govukButton({
      text: "Create gateway account"
      })
    }}

    <input type="hidden" name="_csrf" value="{{ csrf }}">
  </form>

{% endblock %}
