{% from "common/json.njk" import json %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% extends "layout/layout.njk" %}

{% block main %}
<div class="govuk-panel govuk-panel--confirmation">
	<h1 class="govuk-panel__title">
		Gateway account created
	</h1>
	<div class="govuk-panel__body">
		Your account reference
		<br>
		<p class="govuk-!-font-size-24"> <strong>{{ gatewayAccountIdDerived }}</strong></p>
	</div>
</div>

<p class="govuk-body">
A {{ account.type | upper }} Gateway account has been created through Admin Users.
</p>

<h2 class="govuk-heading-m">What to do next</h2>

{% if not isStripe and zendeskTicketUpdated %}
    <p class="govuk-body">In Zendesk, fill in mandatory custom fields and solve the ticket.</p>
{% elif isStripe and not isLive %}
    <p class="govuk-body">In Zendesk, respond to the request using "Stripe test account" macro</p>
{% elif isStripe and isLive and zendeskTicketUpdated %}
    <p class="govuk-body">In Zendesk, fill in mandatory custom fields and solve the ticket.</p>
{% else %}
    <p class="govuk-body">In Zendesk, respond to the request to go live using the appropriate Zendesk macro (either “Stripe account” or “non-Stripe”).</p>
    <p class="govuk-body">Replace the placeholders in the macro with the following:</p>

    {{ govukTable({
            head: [
                { text: "Zendesk macro placeholder"},
                { text: "Value"}
            ],
            rows:
            [
                [ { text: "***GO_LIVE_URL***" }, { text: selfServiceBaseUrl + "/account/" + account.external_id + "/dashboard", classes: "stripe-go-live-url-table-cell"  } ],
                [ { text: "***STATEMENT_DESCRIPTOR***" }, { text: stripeAccountStatementDescriptors.statementDescriptor | upper } ],
                [ { text: "***PAYOUT_STATEMENT_DESCRIPTOR***" }, { text: stripeAccountStatementDescriptors.payoutStatementDescriptor | upper } ]
            ]
            if isStripe else
            [
                [ { text: "***GO_LIVE_URL***" }, { text: selfServiceBaseUrl + "/account/" + account.external_id + "/dashboard", classes: "stripe-go-live-url-table-cell"  } ]
            ]
            })
    }}
{% endif %}

<h2 class="govuk-heading-m">Actions taken</h2>
<ol class="govuk-list govuk-list--number">
    {% if stripeConnectAccountId %}
	    <li>New Stripe connect account ({{stripeConnectAccountId}}) created</li>
	{% endif %}
	<li>New {{ account.type }} {{ provider | capitalize }} gateway account ({{ gatewayAccountIdDerived }}) record created</li>

    {% if linkedService %}
	    <li>(System Link) Service linked to new Gateway account ({{ gatewayAccountIdDerived }})</li>
	{% endif %}

    {% if account.requires_3ds %}
        <li>Set ‘requires_3ds’ to ‘true’ for gateway account</li>
    {% endif %}
	{% if isLive %}
	    <li>Service go live status updated to ‘LIVE’</li>
	{% endif %}
</ol>

<h2 class="govuk-heading-m">Relevant resources</h2>
<ul class="govuk-list">
	<li><a class="govuk-link govuk-link--no-visited-state" href="/gateway_accounts/{{ gatewayAccountIdDerived }}">{{ account.type | upper }} Gateway account ({{ gatewayAccountIdDerived }}) details</a></li>
	{% if linkedService %}
	<li><a class="govuk-link govuk-link--no-visited-state" href="/services/{{ linkedService }}">Linked service details</a></li>
	{% endif %}
</ul>

{{ json("Account details source", account) }}
{% endblock %}
