{% extends "layout/layout.njk" %}

{% block main %}
<div class="govuk-panel govuk-panel--confirmation">
	<h1 class="govuk-panel__title">
		Gateway account created
	</h1>
	<div class="govuk-panel__body">
		Your account reference
		<br>
		<p class="govuk-!-font-size-24"> <strong>{{ gatewayAccountIdDerived }}</strong></p>
	</div>
</div>

<p class="govuk-body">
A {{ account.type | upper }} Gateway account has been created through Admin Users.
</p>

<h2 class="govuk-heading-m">Actions taken</h2>
<ol class="govuk-list govuk-list--number">
	<li>New {{ account.type }} {{ provider | capitalize }} account ({{ gatewayAccountIdDerived }}) record created</li>

  <!-- @TODO(sfount) not a scalable pattern -->
  {% if provider === 'stripe' %}
  <li>(Stripe account) Set ‘requires_3ds’ on new account to ‘true’</li>
  {% endif %}

  {% if linkedService %}
	<li>(System Link) Service ‘{{ account.service_name }}’ linked to new Gateway account ({{ gatewayAccountIdDerived }})</li>
	{% endif %}

	{% if isLive %}
	<li>Service ‘{{ account.service_name }}’ go live status updated to ‘LIVE’</li>
	{% endif %}

</ol>

<h2 class="govuk-heading-m">Relevant resources</h2>
<ul class="govuk-list">
	<li><a class="govuk-link govuk-link--no-visited-state" href="/gateway_accounts/{{ gatewayAccountIdDerived }}">{{ account.type | upper }} Gateway account ({{ gatewayAccountIdDerived }}) details</a></li>
	<li><a class="govuk-link govuk-link--no-visited-state" href="/services/{{ linkedService }}">{{ account.service_name }} details</a></li>
</ul>

<pre><code> {{ account | dump('\t') }}</code></pre>
{% endblock %}
