{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "common/errorSummary.njk" import errorSummary %}
{% extends "layout/layout.njk" %}

{% block main %}
  {% set liveOrTest %}{% if live === 'live' %}live{% else%}test{% endif%}{% endset %}

  {% if live === 'live' %}
    <span class="govuk-caption-m">Go live</span>
  {% else %}
    <span class="govuk-caption-m">Add test account</span>
  {% endif %}
  <h1 class="govuk-heading-m">Create {{ liveOrTest }} {{ provider | capitalize }} gateway account</h1>

  {% if errors %}
    {{ errorSummary({ errors: errors }) }}
  {% endif %}

  <form method="post" action="/gateway_accounts/create/confirm">

    {% if service %}
      <div class="govuk-form-group">
        {{ govukWarningText({
          text: "System link: this gateway account will be automatically asigned to this service."
          })
        }}
        <label class="govuk-label">Service name</label>
        <input readonly class="govuk-input" id="serviceName" name="serviceName" type="text" value="{{ service.name }}" autocomplete="off">
        <input hidden id="systemLinkedService" name="systemLinkedService" value="{{ service.external_id }}">
      </div>
    {% else %}
      {{govukInput({
        label: { text: "Service name" },
        id: "serviceName",
        name: "serviceName",
        value: recovered.serviceName,
        errorMessage: errorMap.serviceName and { text: errorMap.serviceName },
        autocomplete: "off"
      }) }}
    {% endif %}

    {{govukInput({
      label: { text: "Description" },
      hint: { html: '<p>GOV.UK Pay standard: "${Department} ${Service} ${Provider} ${IsLive}"</p><p>Blue Badge standard: "${Service} Blue Badge admin Stripe LIVE"</p>' },
      id: "description",
      name: "description",
      value: description or recovered.description,
      errorMessage: errorMap.description and { text: errorMap.description },
      autocomplete: "off"
    }) }}

    {% if linkedCredentials %}
    <div class="govuk-form-group">
      <label class="govuk-label">Stripe credentials</label>
      <input readonly class="govuk-input" id="credentials" name="credentials" type="text" value="{{ linkedCredentials }}" autocomplete="off">
      <input hidden id="systemLinkedCredentials" name="systemLinkedCredentials" value="{{ linkedCredentials }}">
    </div>
    {% elif provider === "stripe" %}
      {{govukInput({
        label: { text: "Stripe credentials" },
        id: "credentials",
        name: "credentials",
        value: recovered.credentials,
        errorMessage: errorMap.credentials and { text: errorMap.credentials },
        autocomplete: 'off'
      }) }}
    {% endif %}

    {% if service %}
      {{ govukRadios({
        id: "sector",
        name: "sector",
        fieldset: {
          legend: {
            text: "Which sector does this service belong to?",
            isPageHeading: false
          }
        },
        errorMessage: errorMap.sector and { text: errorMap.sector },
        items: [
          {
            value: "central",
            text: "Central - includes devolved administrations, arms length bodies, non departmental public bodies",
            checked: recovered.sector and recovered.sector === 'central' or service.sector === 'central'
          },
          {
            value: "local",
            text: "Local",
            checked: recovered.sector and recovered.sector === 'local' or service.sector === 'local'
          },
          {
            value: "police",
            text: "Police",
            checked: recovered.sector and recovered.sector === 'police' or service.sector === 'police'
          },
          {
            value: "nhs central",
            text: "NHS central",
            checked: recovered.sector and recovered.sector === 'nhs central' or service.sector === 'nhs central'
          },
          {
            value: "nhs trust",
            text: "NHS trust",
            checked: recovered.sector and recovered.sector === 'nhs trust' or service.sector === 'nhs trust'
          },
          {
            value: "other",
            text: "Other",
            checked: recovered.sector and recovered.sector === 'other' or service.sector === 'other'
          }
        ]
      }) }}

      {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "internalFlag",
        name: "internalFlag",
        fieldset: {
          legend: {
            text: "Was this service created for internal use by Pay?",
            isPageHeading: false
          }
        },
        items: [
          { value: "true", text: "Yes", checked: recovered.internalFlag and recovered.internalFlag === "true" or service.internal },
          { value: "false", text: "No" , checked: recovered.internalFlag and recovered.internalFlag === "false" or not service.internal}
        ]
      })
      }}
    {% endif %}

    {{ govukButton({
      text: "Submit"
      })
      }}

    <input type="hidden" name="live" value="{{ live or recovered.live }}">
    <input type="hidden" name="provider" value="{{ provider or recovered.provider }}">
    <input type="hidden" name="_csrf" value="{{ csrf }}">
  </form>
{% endblock %}
