{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "common/json.njk" import json %}
{% extends "layout/layout.njk" %}

{% set isTestData = not account.live %}

{% block main %}
  {% if account.disabled %}
    {% set accountDisabledBannerHtml %}
      <p class="govuk-notification-banner__heading">This account is disabled:</p>
      <div>{{account.disabled_reason}}</div>
    {% endset %}
    {{ govukNotificationBanner({
      html: accountDisabledBannerHtml
    }) }}
  {% endif %}
  {% if currentCredential.state  === 'CREATED' %}
    {{ govukNotificationBanner({
      text: 'This account needs to be configured with PSP credentials or onboarding needs to be completed.'
    }) }}
  {% endif %}

<span class="govuk-caption-m">{{ services.name }}</span>
  <h1 class="govuk-heading-m">Gateway account details <span><strong class="govuk-tag govuk-tag--grey">{{ account.payment_provider }} {{ account.type }}</strong></span></h1>

  {% if services.external_id %}
  <div>
    <a href="/services/{{ services.external_id }}" class="govuk-back-link">Associated service {{services.name}} ({{ services.id }})</a>
  </div>
  {% endif %}

  {% for message in messages %}
    <div class="govuk-error-summary success-summary" role="alert">
      <h2 class="govuk-error-summary__title">{{message}}</h2>
    </div>
  {% endfor %}

  <div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
      <h2 class="govuk-heading-s">Account details</h2>
      <div><a class="govuk-link govuk-link--no-visited-state" href="#">Disable account</a></div>
    </div>
    <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key"><span class="govuk-caption-m">ID</span></dt>
        <dd class="govuk-summary-list__value">{{ account.gateway_account_id }}</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key"><span class="govuk-caption-m">External ID</span></dt>
        <dd class="govuk-summary-list__value">{{ account.external_id }}</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key"><span class="govuk-caption-m">Description</span></dt>
        <dd class="govuk-summary-list__value">
          {% if account.description %}
          {{ account.description }}
          {% else %}
          <i>(None set)</i>
          {% endif %}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key"><span class="govuk-caption-m">Analytics</span></dt>
        <dd class="govuk-summary-list__value">
          {% if account.analytics_id %}
          <code>{{ account.analytics_id }}</code>
          {% else %}
          <i>(None set)</i>
          {% endif %}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key"><span class="govuk-caption-m">API</span></dt>
        <dd class="govuk-summary-list__value">3 access tokens</dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Manage<span class="govuk-visually-hidden"> API tokens</span></a>
        </dd>
      </div>
    </dl>
    </div>
  </div>

  <div>
  {{ govukButton({
    text: "Payments",
    href: "/transactions?account=" + gatewayAccountId
  })
  }}
  {{ govukButton({
    text: "Refunds",
    href: "/transactions?account=" + gatewayAccountId + "&type=REFUND"
  })
  }}
  {{ govukButton({
    text: "Payment links",
    href: "/gateway_accounts/" + gatewayAccountId + "/payment_links"
  })
  }}
  {{ govukButton({
    text: "Agreements",
    href: "/agreements?account=" + gatewayAccountId
  })
  }}
  {{ govukButton({
    text: "Webhooks",
    href: "/webhooks?account=" + gatewayAccountId
  })
  }}
  {% if account.payment_provider == 'stripe' %}
    {{ govukButton({
      text: "Payouts",
      href: "/payouts?account=" + gatewayAccountId
    })
    }}
  {% endif %}
  </div>
  <div>
    {{ govukButton({
      text: "Download transaction CSV reports",
      href: "/transactions/csv?account=" + gatewayAccountId
    })
    }}
    {{ govukButton({
      text: "View statistics",
      href: "/transactions/statistics?account=" + gatewayAccountId
    })
    }}
  </div>

  <div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
      <h2 class="govuk-heading-s">{{ account.payment_provider | capitalize }} configuration</h2>
      <span><a class="govuk-link govuk-link--no-visited-state" href="#">Switch PSP</a></span>
    </div>
    <div class="govuk-summary-card__content">
      <dl class="govuk-summary-list">
        {% if currentCredential and currentCredential.state %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key"><span class="govuk-caption-m">Credentials state</span></dt>
          <dd class="govuk-summary-list__value">{{ currentCredential.state }}</dd>
        </div>
        {% endif %}
        {% if currentCredential
          and currentCredential.credentials.one_off_customer_initiated|length
          and currentCredential.credentials.one_off_customer_initiated.merchant_code %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key"><span class="govuk-caption-m">Worldpay merchant code</span></dt>
            <dd class="govuk-summary-list__value">{{ currentCredential.credentials.one_off_customer_initiated.merchant_code }}</dd>
          </div>
        {% elif currentCredential and currentCredential.credentials.merchant_id %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key"><span class="govuk-caption-m">PSP merchant ID</span></dt>
          <dd class="govuk-summary-list__value">{{ currentCredential.credentials.merchant_id }}</dd>
        </div>
        {% endif %}
        {% if currentCredential and currentCredential.credentials.stripe_account_id %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key"><span class="govuk-caption-m">Connected Stripe account</span></dt>
          <dd class="govuk-summary-list__value">
            <a class="govuk-link govuk-link--no-visited-state" target="_blank" href="{{ stripeDashboardUri }}">
              {{ currentCredential.credentials.stripe_account_id }}
            </a>
          </dd>
        </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key"><span class="govuk-caption-m">Statement descriptor</span></dt>
            <dd class="govuk-summary-list__value">
              PAY-FOR-CAKE
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Manage<span class="govuk-visually-hidden"> statement descriptor</span></a>
            </dd>
          </div>
        {% endif %}
        {% if account.payment_provider === 'stripe' %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key"><span class="govuk-caption-m">Outstanding Stripe setup tasks</span></dt>
          <dd class="govuk-summary-list__value">
            {% if outstandingStripeSetupTasks | length %}
            <ul class="govuk-list">
              {% for task in outstandingStripeSetupTasks %}
              <li>{{ task | capitalize }}</li>
              {% endfor %}
            </ul>
            {% else %}
              (All setup tasks completed)
            {% endif %}
          </dd>
        </div>
        {% elif account.payment_provider === 'worldpay' %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key"><span class="govuk-caption-m">Payment details sent to Worldpay</span></dt>
            <dd class="govuk-summary-list__value">
              <ul class="govuk-list">
                {% if account.send_reference_to_gateway === true %}
                  <li>Reference</li>
                {% else %}
                  <li>Payment description</li>
                {% endif %}
                {% if account.send_payer_email_to_gateway === true %}
                  <li>Email</li>
                {% endif %}
                {% if account.send_payer_ip_address_to_gateway === true %}
                  <li>IP address</li>
                {% endif %}
              </ul>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Manage<span class="govuk-visually-hidden"> payment details sent to Worldpay</span></a>
            </dd>
          </div>
          {% if is3DSFlexApplicable %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key"><span class="govuk-caption-m">3DS Flex</span></dt>
              <dd class="govuk-summary-list__value">{% if account.worldpay_3ds_flex %}Enabled{% else %}Disabled{% endif %}</dd>
            </div>
          {% endif %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key"><span class="govuk-caption-m">Exemption engine</span></dt>
            <dd class="govuk-summary-list__value">
              {% if account.worldpay_3ds_flex and account.worldpay_3ds_flex.exemption_engine_enabled %}
                Enabled
              {% else %}
                Disabled
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Manage<span class="govuk-visually-hidden"> Worldpay exemption engine</span></a>
            </dd>
          </div>
        {% endif %}
      </dl>
    </div>
  </div>

  <div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
      <h2 class="govuk-heading-s">Card settings</h2>
    </div>
    <div class="govuk-summary-card__content">
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key"><span class="govuk-caption-m">Wallets</span></dt>
          <dd class="govuk-summary-list__value">
            {% if account.allow_apple_pay or account.allow_google_pay %}
              {% if account.allow_apple_pay %} <span><strong class="govuk-tag govuk-tag--grey">Apple Pay</strong></span>{% endif %}
              {% if account.allow_google_pay %} <span><strong class="govuk-tag govuk-tag--grey">Google Pay</strong></span>{% endif %}
            {% else %}
              (No wallets enabled)
            {% endif %}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key"><span class="govuk-caption-m">MOTO</span></dt>
          <dd class="govuk-summary-list__value">Disabled</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Manage<span class="govuk-visually-hidden"> MOTO</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key"><span class="govuk-caption-m">Recurring enabled</span></dt>
          <dd class="govuk-summary-list__value">{{ account.recurring_enabled | string | capitalize }}</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Manage<span class="govuk-visually-hidden"> recurring enabled</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key"><span class="govuk-caption-m">Blocked prepaid cards</span></dt>
          <dd class="govuk-summary-list__value">{{ account.block_prepaid_cards | string | capitalize }}</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Manage<span class="govuk-visually-hidden"> prepaid cards</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key"><span class="govuk-caption-m">Corporate surcharge</span></dt>
          <dd class="govuk-summary-list__value">Disabled</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Manage<span class="govuk-visually-hidden"> corporate surcharge</span></a>
          </dd>
        </div>
      </dl>
    </div>
  </div>

  <div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
      <h2 class="govuk-heading-s">Email settings</h2>
    </div>
    <div class="govuk-summary-card__content">
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key"><span class="govuk-caption-m">Email collection mode</span></dt>
          <dd class="govuk-summary-list__value">{{ account.email_collection_mode }}</dd>
        </div>
        {% if account.email_notifications != undefined %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key"><span class="govuk-caption-m">Payment confirmation email</span></dt>
          <dd class="govuk-summary-list__value">{{ 'Enabled' if (account.email_notifications.PAYMENT_CONFIRMED
            and account.email_notifications.PAYMENT_CONFIRMED.enabled) else 'Disabled' }}</dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key"><span class="govuk-caption-m">Refund issued email</span></dt>
          <dd class="govuk-summary-list__value">{{ 'Enabled' if (account.email_notifications.REFUND_ISSUED
            and account.email_notifications.REFUND_ISSUED.enabled) else 'Disabled' }}</dd>
        </div>
        {% endif %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key"><span class="govuk-caption-m">Email branding</span></dt>
          <dd class="govuk-summary-list__value">{{ 'Enabled' if account.notifySettings else 'Disabled' }}</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Manage<span class="govuk-visually-hidden"> email branding</span></a>
          </dd>
        </div>
      </dl>
    </div>
  </div>

  {{ json("Gateway account details source", account) }}
  {{ json("Accepted cards source", acceptedCards) }}
  {{ json("Gateway account services source", services) }}
{% endblock %}
