{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "common/json.njk" import json %}
{% extends "layout/layout.njk" %}

{% block main %}
  <span class="govuk-caption-m">{{ account.description or account.gateway_account_id }}</span>
  <h1 class="govuk-heading-m">Gateway account details</h1>

  {% if services.external_id %}
  <div>
    <a href="/services/{{ services.external_id }}" class="govuk-back-link">Associated service {{services.name}} ({{ services.id }})</a>
  </div>
  {% endif %}

  {% for message in messages %}
    <div class="govuk-error-summary success-summary" role="alert">
      <h2 class="govuk-error-summary__title">{{message}}</h2>
    </div>
  {% endfor %}

  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">ID</dt>
      <dd class="govuk-summary-list__value">{{ account.gateway_account_id }}</dd>
    </div>
    {% if account.gateway_account_external_id %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Gateway account external ID</dt>
        <dd class="govuk-summary-list__value">{{ account.gateway_account_external_id }}</dd>
      </div>
    {% endif %}
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Type</dt>
      <dd class="govuk-summary-list__value">{{ account.type | capitalize }}</dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Description</dt>
      <dd class="govuk-summary-list__value">
        {% if account.description %}
        {{ account.description }}
        {% else %}
        <i>(None set)</i>
        {% endif %}
      </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Payment method</dt>
        <dd class="govuk-summary-list__value">
            {% if account.payment_method %} {{ account.payment_method }}  {% else %} CARD {% endif %}
        </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Payment provider</dt>
      <dd class="govuk-summary-list__value">{{ account.payment_provider | capitalize }}</dd>
    </div>
    {% if account.credentials and account.credentials.merchant_id %}
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">PSP merchant ID</dt>
      <dd class="govuk-summary-list__value">{{ account.credentials.merchant_id }}</dd>
    </div>
    {% endif %}
    {% if account.credentials and account.credentials.stripe_account_id %}
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Connected Stripe account</dt>
      <dd class="govuk-summary-list__value">{{ account.credentials.stripe_account_id }}</dd>
    </div>
    {% endif %}
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Service</dt>
      <dd class="govuk-summary-list__value">{{ account.service_name }}</dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Analytics</dt>
      <dd class="govuk-summary-list__value">
        {% if account.analytics_id %}
        <code>{{ account.analytics_id }}</code>
        {% else %}
        <i>(None set)</i>
        {% endif %}
      </dd>
    </div>
    {% if account.requires3ds != undefined %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">3DS enabled</dt>
          <dd class="govuk-summary-list__value">{{ account.requires3ds | string | capitalize }}</dd>
        </div>
    {% endif %}
    {% if account.allow_apple_pay != undefined %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Apple Pay enabled</dt>
          <dd class="govuk-summary-list__value">{{ account.allow_apple_pay | string | capitalize }}</dd>
        </div>
    {% endif %}
    {% if account.allow_google_pay != undefined %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Google Pay enabled</dt>
          <dd class="govuk-summary-list__value">{{ account.allow_google_pay | string | capitalize }}</dd>
        </div>
    {% endif %}
    {% if account.email_collection_mode != undefined %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Email collection mode</dt>
        <dd class="govuk-summary-list__value">{{ account.email_collection_mode }}</dd>
      </div>
    {% endif %}
    {% if account.email_notifications != undefined %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Payment confirmation email</dt>
        <dd class="govuk-summary-list__value">{{ 'Enabled' if (account.email_notifications.PAYMENT_CONFIRMED
          and account.email_notifications.PAYMENT_CONFIRMED.enabled) else 'Disabled' }}</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Refund issued email</dt>
        <dd class="govuk-summary-list__value">{{ 'Enabled' if (account.email_notifications.REFUND_ISSUED
          and account.email_notifications.REFUND_ISSUED.enabled) else 'Disabled' }}</dd>
      </div>
    {% endif %}
  </dl>

  <div>
    {{ govukButton({
    text: "Manage API keys",
    href: "/gateway_accounts/" + gatewayAccountId + "/api_keys"
    })
    }}
    {# @TODO(sfount) use standard enum for provider type #}
    {% if account.payment_provider == 'stripe' %}
    {{ govukButton({
    text: "Manage Payouts",
    href: "/services/" + services.external_id + "/gateway_account/" + gatewayAccountId + "/payouts"
    })
    }}
    {% endif %}
    {% if account.payment_method !== "DIRECT_DEBIT" %}
      {{ govukButton({
        text: "View transactions",
        href: "/transactions?account=" + gatewayAccountId
      })
      }}
      {{ govukButton({
        text: "View statistics",
        href: "/transactions/statistics?account=" + gatewayAccountId
      })
      }}
      {{ govukButton({
        text: "Update surcharge amounts",
        href: "/gateway_accounts/" + gatewayAccountId + "/surcharge"
      })
      }}
      {{ govukButton({
        text: "Edit email branding",
        href: "/gateway_accounts/" + gatewayAccountId + "/email_branding"
      })
      }}
    {% endif %}
  </div>

  {{ json("Gateway account details source", account) }}
  {{ json("Gateway account services source", services) }}
{% endblock %}
