{% from "components/table/macro.njk" import govukTable %}
{% from "components/button/macro.njk" import govukButton %}
{% from "common/json.njk" import json %}
{% extends "layout/layout.njk" %}

{% block main %}
  <span class="govuk-caption-m">{{ account.description or account.gateway_account_id }}</span>
  <h1 class="govuk-heading-m">Gateway account details</h1>

  {% if services.external_id %}
  <div>
    <a href="/services/{{ services.external_id }}" class="govuk-back-link">Associated service {{services.name}} ({{ services.id }})</a>
  </div>
  {% endif %}

  {% for message in messages %}
    <div class="govuk-error-summary success-summary" role="alert">
      <h2 class="govuk-error-summary__title">{{message}}</h2>
    </div>
  {% endfor %}

  <table class="govuk-table">
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col">ID</th>
        <td class="govuk-table__cell">{{ account.gateway_account_id }}</td>
      </tr>
      {% if account.gateway_account_external_id %}
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Gateway account external ID</th>
          <td class="govuk-table__cell">{{ account.gateway_account_external_id }}</td>
        </tr>
      {% endif %}
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col">Type</th>
        <td class="govuk-table__cell">{{ account.type | capitalize }}</td>
      </tr>
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col">Description</th>
        <td class="govuk-table__cell">
          {% if account.description %}
          {{ account.description }}
          {% else %}
          <i>(None set)</i>
          {% endif %}
        </td>
      </tr>
      <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Payment method</th>
          <td class="govuk-table__cell">
              {% if account.payment_method %} {{ account.payment_method }}  {% else %} CARD {% endif %}
          </td>
      </tr>
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col">Payment provider</th>
        <td class="govuk-table__cell">{{ account.payment_provider | capitalize }}</td>
      </tr>
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col">Service</th>
        <td class="govuk-table__cell">{{ account.service_name }}</td>
      </tr>
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col">Analytics</th>
        <td class="govuk-table__cell">
          {% if account.analytics_id %}
          <code>{{ account.analytics_id }}</code>
          {% else %}
          <i>(None set)</i>
          {% endif %}
        </td>
      </tr>
      {% if account.toggle_3ds != undefined %}
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Toggle 3DS</th>
            <td class="govuk-table__cell">{{ account.toggle_3ds | string | capitalize }}</td>
          </tr>
      {% endif %}
      {% if account.email_collection_mode != undefined %}
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Email collection mode</th>
          <td class="govuk-table__cell">{{ account.email_collection_mode }}</td>
        </tr>
      {% endif %}
      {% if account.email_notifications != undefined %}
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Payment confirmation email</th>
          <td class="govuk-table__cell">{{ 'Enabled' if (account.email_notifications.PAYMENT_CONFIRMED
            and account.email_notifications.PAYMENT_CONFIRMED.enabled) else 'Disabled' }}</td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Refund issued email</th>
          <td class="govuk-table__cell">{{ 'Enabled' if (account.email_notifications.REFUND_ISSUED
            and account.email_notifications.REFUND_ISSUED.enabled) else 'Disabled' }}</td>
        </tr>
      {% endif %}

    </tbody>
  </table>

  <div>
    {{ govukButton({
    text: "Manage API keys",
    href: "/gateway_accounts/" + gatewayAccountId + "/api_keys"
    })
    }}
    {# @TODO(sfount) use standard enum for provider type #}
    {% if account.payment_provider == 'stripe' %}
    {{ govukButton({
    text: "Manage Payouts",
    href: "/services/" + services.external_id + "/gateway_account/" + gatewayAccountId + "/payouts"
    })
    }}
    {% endif %}
    {% if account.payment_method !== "DIRECT_DEBIT" %}
      {{ govukButton({
        text: "View transactions",
        href: "/transactions?account=" + gatewayAccountId
      })
      }}
      {{ govukButton({
        text: "Update surcharge amounts",
        href: "/gateway_accounts/" + gatewayAccountId + "/surcharge"
      })
      }}
    {% endif %}
  </div>

  {{ json("Gateway account details source", account) }}
  {{ json("Gateway account services source", services) }}
{% endblock %}
