{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "common/booleanFilterSelect.njk" import booleanFilterSelect %}

<div class="filter govuk-grid-row">
  <form clas="govuk-clearfix" method="GET" action="/gateway_accounts" novalidate="novalidate">

    <div class="govuk-grid-column-one-third inputs-less-margin">
      {{ booleanFilterSelect({
          id: "live",
          name: "live",
          label: "Type",
          trueOptionText: "Live",
          falseOptionText: "Test",
          currentValue: filters.live
        })
      }}
    </div>

    <div class="govuk-grid-column-one-third inputs-less-margin">
      {{ govukSelect({
        id: "provider",
        name: "provider",
        label: { text: "Provider" },
        items: [
          {
            text: 'All',
            value: null,
            selected: filters.provider === null
          },
          {
            text: 'Sandbox',
            value: 'sandbox',
            selected: filters.provider === 'sandbox'
          },
          {
            text: 'Worldpay',
            value: 'worldpay',
            selected: filters.provider === 'worldpay'
          },
          {
            text: 'Smartpay',
            value: 'smartpay',
            selected: filters.provider === 'smartpay'
          },
          {
            text: 'ePDQ',
            value: 'epdq',
            selected: filters.provider === 'epdq'
          },
          {
            text: 'Stripe',
            value: 'stripe',
            selected: filters.provider === 'stripe'
          }
        ]
      })
    }}
    </div>

    <div class="govuk-grid-column-one-third inputs-less-margin">
      {{ booleanFilterSelect({
          id: "three-ds",
          name: "three_ds",
          label: "3D Secure",
          trueOptionText: "Enabled",
          falseOptionText: "Disabled",
          currentValue: filters.three_ds
        })
      }}
    </div>

    <div class="govuk-grid-column-one-third inputs-less-margin">
      {{ booleanFilterSelect({
          id: "apple-pay",
          name: "apple_pay",
          label: "Apple pay",
          trueOptionText: "Enabled",
          falseOptionText: "Disabled",
          currentValue: filters.apple_pay
        })
      }}
    </div>

    <div class="govuk-grid-column-one-third inputs-less-margin">
      {{ booleanFilterSelect({
          id: "google-pay",
          name: "google_pay",
          label: "Google pay",
          trueOptionText: "Enabled",
          falseOptionText: "Disabled",
          currentValue: filters.google_pay
        })
      }}
    </div>

    <div class="govuk-grid-column-one-third inputs-less-margin">
      {{ booleanFilterSelect({
          id: "moto",
          name: "moto",
          label: "MOTO",
          trueOptionText: "Enabled",
          falseOptionText: "Disabled",
          currentValue: filters.moto
        })
      }}
    </div>

    <div class="govuk-grid-column-full inputs-less-margin">
      {{ govukButton({
        text: "Filter"
      })
    }}
    </div>
  </form>
</div>