{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "common/json.njk" import json %}
{% extends "layout/layout.njk" %}

{% set isTestData = not (account.type === "live") %}

{% block main %}
  <h1 class="govuk-heading-m">Revoked API keys for Gateway account {{ gatewayAccountId }}</h1>

  <div>
    <a href="/gateway_accounts/{{ gatewayAccountId }}" class="govuk-back-link">Gateway account ({{ gatewayAccountId }})</a>
  </div>
  <div><a class="govuk-link" href="/gateway_accounts/{{ gatewayAccountId }}/api_keys">Manage active API keys for Gateway account {{ gatewayAccountId }}</a></div>
  <br>

  {% for token in tokens %}
    {{ govukTable({
    firstCellIsHeader: true,
    rows: [
      [ { text: "Token" }, { text: token.token_link } ],
      [ { text: "Issued Date" }, { text: token.issued_date } ],
      [ { text: "Last Used Date" }, { text: token.last_used } ],
      [ { text: "Revoked Date" }, { text: token.revoked } ],
      [ { text: "Description" }, { text: token.description } ],
      [ { text: "Token Type" }, { text: token.token_type } ],
      [ { text: "Created By" }, { text: token.created_by } ]
    ]
    })
    }}

  {% else %}
    <p class="govuk-body top-spacer">No revoked API keys found for gateway account.</p>
  {% endfor %}

  {{ json("API tokens source", tokens) }}
{% endblock %}
