version: 2
updates:
- package-ecosystem: npm
  directory: "/"
  schedule:
    interval: daily
    time: "03:00"
  open-pull-requests-limit: 5
  labels:
  - dependencies
  - govuk-pay
  - javascript
  allow:
  - dependency-type: "production"
  ignore:
  - dependency-name: "google-libphonenumber"
    update-types: ["version-update:semver-patch"]
  - dependency-name: "@sentry/node"
    update-types: ["version-update:semver-patch"]
  - dependency-name: "@aws-sdk/client-ecs"
    update-types: ["version-update:semver-patch","version-update:semver-minor"]
  - dependency-name: "@aws-sdk/client-s3"
    update-types: ["version-update:semver-patch","version-update:semver-minor"]
  - dependency-name: stripe
    versions:
    - "> 7.15.0"
- package-ecosystem: docker
  directory: "/"
  schedule:
    interval: daily
    time: "03:00"
  open-pull-requests-limit: 10
  labels:
  - dependencies
  - govuk-pay
  - javascript
  ignore:
  - dependency-name: node
    versions:
    - ">= 14.a"
    - "< 15"
  - dependency-name: node
    versions:
    - ">= 15.a"
    - "< 16"
- package-ecosystem: github-actions
  directory: "/"
  schedule:
    interval: daily
    time: "03:00"
  open-pull-requests-limit: 10
  labels:
  - dependencies
  - govuk-pay
  - github_actions
