# Compiled assets 
app/public 

app/tests/cypress/videos
app/tests/cypress/screenshots

# Logs 
npm-debug.log*

# Dependencies 
node_modules

# npm cache 
.npm 

# development environment files
.env

# vim
*.swp

# logs 
*.log

.idea
