{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% extends "layout/layout.njk" %}

{% block main %}
  <h1 class="govuk-heading-m">Are you sure you want to remove {{ payUser.email }} from {{ service.name }}?</h1>
  <div id="confirm-remove-user-dialog" class="govuk-body">
    <form id="remove-team-member-form" method="post" action="/users/{{ userId }}/service/{{ serviceId }}/delete">
      <input id="csrf" name="_csrf" type="hidden" value="{{ csrf }}"/>

      {{
        govukButton({
          text: "Yes, remove",
          classes: "govuk-button--warning",
          attributes: {
            id: "remove-team-member-confirm"
          }
        })
      }}
    
      <a href="/" class="govuk-button govuk-button--secondary">No</a>
    </form>
  </div>  
{% endblock %}