{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% extends "layout/layout.njk" %}

{% block main %}
  <span class="govuk-caption-m">GOV.UK Pay platform</span>
  <h1 class="govuk-heading-m">Find a service user</h1>

  <form method="POST" action="/users/search">
    {{ govukInput({
      id: "search",
      name: "search",
      label: { text: "Email or external ID" }
      })
      }}

    {{ govukButton({
      text: "Search"
      })
      }}

    <input type="hidden" name="_csrf" value="{{ csrf }}">
  </form>

  <p class="govuk-body">To search for a paying user, use <a class="govuk-link" href="/transactions/search">Find a transaction</a>.</p>
{% endblock %}
