{% from "components/table/macro.njk" import govukTable %}
{% from "components/summary-list/macro.njk" import govukSummaryList %}
{% extends "layout/layout.njk" %}

{% block main %}
<h1 class="govuk-heading-m">User details</h1>

{# Table row listing services and service actions #}
{% set services %}
  <ul class="govuk-list">
    {% for role in user.service_roles %}
      <li>
      <a href="/services/{{ role.service.external_id}}" class="govuk-link govuk-link--no-visited-state">{{ role.service.name }}</a>
      <span> | </span>
      <a class="govuk-link govuk-link--no-visited-state" href="/user/{{ user.external_id }}/services">(Remove user from service)</a>
      </li>
    {% endfor %}
  </ul>
{% endset %}

{# {% set serviceRoles = user.service_roles.map((serviceRole) => serviceRole) %} #}

{{ govukSummaryList({
  rows: [
    { key: { text: "ID" }, value: { html: "<code>" + user.external_id + "</code>" }, actions: { items: [{}] } },
    { key: { text: "Email" }, value: { text: user.email | truncate(35) }, actions: { items: [{ href: "/users/" + user.external_id + "/email", text: "Change" }] } },
    { key: { text: "Phone" }, value: { text: user.telephone_number }, actions: { items: [{ href: "/users/" + user.external_id + "/phone", text: "Change" }] } },
    { key: { text: "MFA" }, value: { text: user.second_factor }, actions: { items: [{}] }  },
    { key: { text: "Disabled" }, value: { text: "True" if user.disabled else "False" }, actions: { items: [{ href: "#", text: "Enable" if user.disabled else "Disable" }] }  }
  ]
  })
}}

<h1 class="govuk-heading-m">User services</h1>
{{ govukSummaryList({
  rows: format.serviceRoles(user.service_roles)
  })
}}

<div>
  <pre><code>{{ user | dump('\t') }}</code></pre>
</div>
{% endblock %}