{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "common/errorSummary.njk" import errorSummary %}
{% extends "layout/layout.njk" %}

{% block main %}
<span class="govuk-caption-m">Update user</span>
<h1 class="govuk-heading-m">Phone number</h1>

<div>
    <a href="/users/{{ user.external_id }}" class="govuk-back-link">Back to user ({{ user.email }})</a>
</div>

{% if errors %}
  {{ errorSummary({ errors: errors }) }}
{% endif %}

<form action="/users/{{user.external_id}}/phone" method="POST">
  {{ govukInput({
    label: { text: "Phone number" },
    hint: { text: "Current telephone number is " + user.telephone_number },
    id: "telephone_number",
    name: "telephone_number",
    value: formValues.telephone_number,
    errorMessage: errorMap.telephone_number and { text: errorMap.telephone_number }
    })
  }}

  {{ govukRadios({
    classes: "govuk-radios--inline",
    idPrefix: "is_real_number",
    name: "is_real_number",
    fieldset: {
      legend: {
        text: "Is this a real phone number?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    hint: {
      text: "If this is a fake number for testing then select No"
    },
    items: [
      {
        value: "yes",
        text: "Yes",
        checked: true
      },
      {
        value: "no",
        text: "No"
      }
    ]
    })
  }}

  {{ govukButton({
    text: "Update user phone number"
    })
  }}
  <input type="hidden" name="_csrf" value="{{ csrf }}">
</form>
{% endblock %}
