{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% extends "layout/layout.njk" %}

{% block main %}
  <span class="govuk-caption-m">GOV.UK Pay platform</span>
  <h1 class="govuk-heading-m">Find discrepancies</h1>

  {% for message in messages %}
  {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: [ { text: message } ]
  })
  }}
  {% endfor %}

  <form method="POST" action="/discrepancies/search">
    <div class="govuk-form-group">
      <label class="govuk-label">Charge IDs</label>
      <span class="govuk-hint">
        A comma separated list of charge IDs
      </span>
      <input class="govuk-input" id="search_string" name="search_string" type="text" value="{{ recovered.search_string }}" autocomplete="off">
    </div>

    {{ govukButton({
      text: "Search Discrepancies"
      })
    }}

    <input type="hidden" name="_csrf" value="{{ csrf }}">
  </form>
{% endblock %}
