{% from "components/table/macro.njk" import govukTable %}
{% extends "layout/layout.njk" %} 

{% block main %}
  
  <h1>Service Details</h1>

  {% for message in messages %}
    <div><p>{{message}}</p>
  {% endfor %}

  <!-- actions -->
  <div>
    <!-- a href="/gateway_accounts/{{ accountDetails.gateway_account_id }}/api_keys">API Keys</a -->
    <!-- button>Payment Links</button -->
  </div>

  {{ govukTable({
    caption: "Service Details",
    firstCellIsHeader: true,
    rows: [
    [ { text: 'Service ID' }, { text: service.id } ],
    [ { text: 'External ID' }, { text: service.external_id } ],
    [ { text: 'Name' }, { text: service.name } ],
    [ { text: 'Gateway Accounts' }, { text: service.gateway_account_ids } ],
    [ { text: 'Service Users' }, { text: 'Not implemented' } ]
    ]
  })
  }}
  <!-- [ { text: 'Service Users' }, { text: users | dump | safe } ] -->

  <div>
    <h4>Actions</h4>
    <a href="/services/{{ serviceId }}/branding">Edit Custom Branding</a>
    <a href="/services/{{ serviceId }}/link_accounts">Link Gateway Accounts</a>
  </div>

  <div>
    <pre><code>{{ service | dump('\t') | safe }}</code></pre>
    <pre><code>{{ users | dump('\t') | safe }}</code></pre>
  </div>
{% endblock %}
