{% macro messagesSummary(params) %}
  <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
      <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
        System
      </h2>
    </div>
    <div class="govuk-notification-banner__content">
      {% for message in params.messages %}
        <p class="govuk-notification-banner__heading">
          {{ message }}
        </p>
      {% endfor %}
    </div>
  </div>
{% endmacro %}
