{% set statusStyleMap = {
  "CREATED": "govuk-tag-blue",
  "ACTIVE": "govuk-tag--green",
  "INACTIVE": "govuk-tag--yellow",
  "CANCELLED": "govuk-tag--yellow"
} %}
{% set statusTextMap = {
  "CREATED": "created",
  "ACTIVE": "active",
  "INACTIVE": "inactive",
  "CANCELLED": "cancelled"
} %}

{% macro agreementStatusTag(status) %}
<span class="govuk-tag {{ statusStyleMap[status] }}">{{ statusTextMap[status] | capitalize }}</span>
{% endmacro %}
