{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% extends "layout/layout.njk" %}

{% block main %}
  <span class="govuk-caption-m">GOV.UK Pay platform</span>
  <h1 class="govuk-heading-m">Find a transaction</h1>

  <form method="POST" action="/transactions/search">
    {{ govukInput({
      id: "id",
      name: "id",
      hint: { text: "GOV.UK Pay external ID, gateway transaction ID or transaction reference" },
      label: { text: "Search" }
      })
      }}

    {{ govukButton({
      text: "Search"
      })
      }}

    <input type="hidden" name="_csrf" value="{{ csrf }}">
  </form>
{% endblock %}