{% extends "layout/layout.njk" %}

{% block main %}
<span class="govuk-caption-l"> {{ serviceName }}</span>
<h1 class="govuk-heading-l">Manage feature - {{ featureName | replace("_", " ") | capitalize }}</h1>

<div>
    <a href="/services/{{ id }}" class="govuk-back-link">Back to service ({{ serviceName }})</a>
  </div>
{% endblock %}
