{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% extends "layout/layout.njk" %}

{% block main %}
  <span class="govuk-caption-m">GOV.UK Pay platform</span>
  <h1 class="govuk-heading-m">Statistics for a given day</h1>

  <form method="post" action="/statistics/filter/date">
    {{ govukDateInput({
        id: "filter",
        namePrefix: "filter",
        items: [
          { name: "day", value: date.getDate(), classes: "govuk-input--width-2" },
          { name: "month", value: date.getMonth() + 1, classes: "govuk-input--width-2" },
          { name: "year", value: date.getFullYear(), classes: "govuk-input--width-4" }
        ]
      })
    }}

    {{ govukButton({
        text: "View statistics"
      }) }}

    <input type="hidden" name="_csrf" value="{{ csrf }}">
  </form>
{% endblock %}
