{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/header/macro.njk" import govukHeader %}

<!DOCTYPE html>
<html lang="en" class="govuk-template">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Toolbox</title>
  <link rel="stylesheet" href="{{ manifest['payuk-toolbox.css'] }}">
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
</html>

<body class="govuk-template__body js-enabled">
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "Toolbox",
    useTudorCrown: true
  }) }}

  <div class="govuk-width-container">
    {% include "layout/user_banner.njk" %}

    <div class="govuk-!-padding-top-4 govuk-!-padding-bottom-9">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">

          <h4 class="govuk-heading-s app-subnav__header">Transactions</h4>
          <ul class="govuk-list app-subnav__section">
            <li class="app-subnav__section-item">
              <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/transactions">List transactions</a>
            </li>
            <li class="app-subnav__section-item">
              <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/transactions/search">Find a transaction</a>
            </li>
            <li class="app-subnav__section-item">
              <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/transactions/update">Update transactions</a>
            </li>
            <li class="app-subnav__section-item">
              <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/discrepancies/search">Find discrepancies</a>
            </li>
          </ul>

          <h4 class="govuk-heading-s app-subnav__header">Users</h4>
          <ul class="govuk-list app-subnav__section">
            <li class="app-subnav__section-item">
              <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/users/search">Find a service user</a>
            </li>
          </ul>

          <h4 class="govuk-heading-s app-subnav__header">Services</h4>
          <ul class="govuk-list app-subnav__section">
            <li class="app-subnav__section-item">
              <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/services">List services</a>
            </li>
            <li class="app-subnav__section-item">
              <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/services/search">Find a service</a>
            </li>
          </ul>

          <h4 class="govuk-heading-s app-subnav__header">Gateway accounts</h4>
          <ul class="govuk-list app-subnav__section">
            <li class="app-subnav__section-item">
              <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/gateway_accounts">List gateway accounts</a>
            </li>
            <li class="app-subnav__section-item">
              <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/gateway_accounts/search">Find a gateway account</a>
            </li>
          </ul>

          <h4 class="govuk-heading-s app-subnav__header">Payment links</h4>
          <ul class="govuk-list app-subnav__section">
            <li class="app-subnav__section-item">
              <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/payment_links">List payment links</a>
            </li>
            <li class="app-subnav__section-item">
              <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/payment_links/search">Find a payment link</a>
            </li>
          </ul>

          <h4 class="govuk-heading-s app-subnav__header">Payouts</h4>
          <ul class="govuk-list app-subnav__section">
            <li class="app-subnav__section-item">
              <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/payouts">List payouts</a>
            </li>
          </ul>

          <h4 class="govuk-heading-s app-subnav__header">Agreements</h4>
          <ul class="govuk-list app-subnav__section">
            <li class="app-subnav__section-item">
              <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/agreements">List agreements</a>
            </li>
            <li class="app-subnav__section-item">
              <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/agreements/search">Find an agreement</a>
            </li>
          </ul>

          <h4 class="govuk-heading-s app-subnav__header">Webhooks</h4>
          <ul class="govuk-list app-subnav__section">
            <li class="app-subnav__section-item">
              <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/webhooks/search">Find a webhook</a>
            </li>
          </ul>

          <h4 class="govuk-heading-s app-subnav__header">Statistics</h4>
          <ul class="govuk-list app-subnav__section">
            <li class="app-subnav__section-item">
              <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/statistics/services">Volume by service</a>
            </li>
            <li class="app-subnav__section-item">
              <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/platform/dashboard/live">Live dashboard</a>
            </li>
            <li class="app-subnav__section-item">
              <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/statistics/performance-page">Performance stats</a>
            </li>
          </ul>

          <h4 class="govuk-heading-s app-subnav__header">Administrative Tasks</h4>
          <ul class="govuk-list app-subnav__section">
            <li class="app-subnav__section-item">
              <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/events">Emit Events by ID</a>
            </li>
            <li class="app-subnav__section-item">
              <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/events-by-date">Emit Events by Date</a>
            </li>
            <li class="app-subnav__section-item">
              <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/parity-checker">Trigger Parity Checker</a>
            </li>
          </ul>
        </div>

        {% include "./flash.njk" %}

        <div class="govuk-grid-column-three-quarters">
          {% if isTestData %}
          <div class="test-data-banner govuk-body govuk-!-margin-bottom-2">
            <div class="test-data-tag">
              <strong>TEST DATA</strong>
            </div>
          </div>
          {% endif %}
          {% block main %}
          {% endblock %}
        </div>
      </div>
    </div>
  </div>

  <footer class="govuk-footer">
    <div class="govuk-width-container">
      <div class="govuk-footer__meta">
        <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
          <div class="govuk-footer__meta-custom">
            <span>To contribute or request features please refer to </span>
            <a class="govuk-footer__link" href="https://github.com/alphagov/pay-toolbox">alphagov/pay-toolbox</a>
          </div>
          <div class="govuk-footer__meta-custom">
            <span>alphagov/pay-toolbox ({{ manifest.version }})</span>
          </div>
          <div class="govuk-footer__meta-custom">
            <span>π ({{ toolboxId }})</span>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
