{% from "components/phase-banner/macro.njk" import govukPhaseBanner %}
<!DOCTYPE html>
<html lang="en" class="govuk-template">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Toolbox</title>
  <link rel="stylesheet" href="{{ manifest['payuk-toolbox.css'] }}">
</html>

<body class="govuk-template__body js-enabled">

  <header class="govuk-header " role="banner" data-module="header">
    <div class="govuk-header__container govuk-width-container">
      <div class="govuk-header__content">
        <a href="/" class="govuk-header__link govuk-header__link--service-name">
          GOV.UK Pay Toolbox
        </a>
      </div>
    </div>
  </header>

  <div class="govuk-width-container">
		{{
			govukPhaseBanner({
				tag: { text: 'alpha' },
				html: 'This tool is in active development. It should not be used in production.'
			})
		}}

    <div class="govuk-main-wrapper govuk-!-padding-top-4">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          
          <h4 class="govuk-heading-s app-subnav__header">Statistics</h4>
          <ul class="govuk-list app-subnav__section">
            <li class="app-subnav__section-item">
              <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/statistics">Overview</a>
            </li>
            <li class="app-subnav__section-item">
              <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/statistics/filter/date">For a given day</a>
            </li>
            <li class="app-subnav__section-item">
              <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/statistics/compare/date">Compare two days</a>
            </li>
            <li class="app-subnav__section-item">
              <span class="app-subnav__link"><s>For a service</s></span>
            </li>
          </ul>

          <h4 class="govuk-heading-s app-subnav__header">Gateway accounts</h4>
          <ul class="govuk-list app-subnav__section">
            <li class="app-subnav__section-item">
              <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/gateway_accounts">Card</a>
            </li>
            <li class="app-subnav__section-item">
              <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/gateway_accounts/direct_debit">Direct debit</a>
            </li>
          </ul>
        
          <h4 class="govuk-heading-s app-subnav__header">Services</h4>
          <ul class="govuk-list app-subnav__section">
            <li class="app-subnav__section-item">
              <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/services">Overview</a>
            </li>
            <li class="app-subnav__section-item">
              <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/services/search">Find a service</a>
            </li>
          </ul>
        
          <h4 class="govuk-heading-s app-subnav__header">Transactions</h4>
          <ul class="govuk-list app-subnav__section">
            <li class="app-subnav__section-item">
              <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/transactions/search">Find a transaction</a>
            </li>
            <li class="app-subnav__section-item">
              <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/discrepancies/search">Find discrepancies</a>
            </li>
          </ul>
        </div>

        {% include "./flash.njk" %}

        <div class="govuk-grid-column-three-quarters">
          {% block main %}
          {% endblock %}
        </div>
      </div>
    </div>
  </div>

  <footer class="govuk-footer">
    <div class="govuk-width-container">
      <div class="govuk-footer__meta">
        <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
          <div class="govuk-footer__meta-custom">
            <span>To contribute or request features please refer to </span>
            <a class="govuk-footer__link" href="https://github.com/alphagov/pay-toolbox-revised">alphagov/pay-toolbox-revised</a>
          </div>
          <div class="govuk-footer__meta-custom">
            <!-- span>pay-toolbox-revised(1.0.4)</span -->
            <!-- span>pay-toolbox-revised(1.0.4) served <code>er32523</code></span -->
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
