<div class="user-profile">
  <div class="user-profile__container">
    <div class="user-profile__item">
      <img class="avatar" height="20" width="20" src="{{ user.avatarUrl }}">
    </div>

    <div class="user-profile__item">
      {{ user.displayName or user.username }}
    </div>
  </div>
</div>