{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% extends "layout/layout.njk" %}

{% block main %}
  <span class="govuk-caption-m">GOV.UK Pay platform</span>
  <h1 class="govuk-heading-m">Statistics by service</h1>

  <div class="govuk-body">
  {{ govukWarningText({
    text: "Legacy Connector reporting API deprecated.",
    iconFallbackText: "Warning"
  }) }}
  </div>

  <div class="govuk-body">
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Total volume</th>
          <th scope="col" class="govuk-table__header">Total amount</th>
          <th scope="col" class="govuk-table__header">Avg. amount</th>
          <th scope="col" class="govuk-table__header">Min amount</th>
          <th scope="col" class="govuk-table__header">Max amount</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for account in report %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" colspan="5">
            {{ account.service_name or account.description or account.gateway_account_id }} ({{ account.payment_provider | capitalize }} {{ account.type | upper }})
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">{{ account.total_volume }}</td>
          <td class="govuk-table__cell text-right">{{ account.total_amount | currency }}</td>
          <td class="govuk-table__cell text-right">{{ account.average_amount | currency}}</td>
          <td class="govuk-table__cell text-right">{{ account.min_amount | currency}}</td>
          <td class="govuk-table__cell text-right">{{ account.max_amount | currency}}</td>
        </tr>
        {% else %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" colspan="5">No accounts found in performance report.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
