{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% extends "layout/layout.njk" %}

{% block main %}
  <span class="govuk-caption-m">GOV.UK Pay platform</span>
  <h1 class="govuk-heading-m">Statistics</h1>

  {{ govukWarningText({
    text: "This data is taken from the in-flight payments database. The numbers only represent payments that have not yet been completed or were processed recently.",
    iconFallbackText: "Warning"
  }) }}

  <p class="govuk-body">{{ date | formatDateLong }}</p>
  {{ govukTable({
      firstCellIsHeader: true,
      rows: stats
    })
  }}

  <p class="govuk-body">{{ compareDate | formatDateLong }}</p>
  {{ govukTable({
      firstCellIsHeader: true,
      rows: compareStats
    })
  }}
{% endblock %}
