{% from "govuk/components/table/macro.njk" import govukTable %}
{% extends "layout/layout.njk" %}

{% block main %}
  <span class="govuk-caption-m">GOV.UK Pay platform</span>
  <h1 class="govuk-heading-m">Statistics</h1>

  <p class="govuk-body">{{ date | formatDateLong }}</p>
  {{ govukTable({
      firstCellIsHeader: true,
      rows: stats
    })
  }}

  <p class="govuk-body">{{ compareDate | formatDateLong }}</p>
  {{ govukTable({
      firstCellIsHeader: true,
      rows: compareStats
    })
  }}
{% endblock %}
