{% from "govuk/components/table/macro.njk" import govukTable %}
{% extends "layout/layout.njk" %}

{% block main %}
  <span class="govuk-caption-m">GOV.UK Pay platform</span>
  <h1 class="govuk-heading-m">Statistics</h1>

  {% if date %}
    <p class="govuk-body">{{ date | formatDateLong }}</p>
  {% else %}
    <p class="govuk-body">All time</p>
  {% endif %}

  {{ govukTable({
      firstCellIsHeader: true,
      rows: stats
    })
  }}
{% endblock %}
