{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% extends "layout/layout.njk" %}

{% block main %}
  <span class="govuk-caption-m">Update gateway account</span>
  <h1 class="govuk-heading-m">Stripe statement descriptor</h1>

  <div>
    <a href="/gateway_accounts/{{ account.gateway_account_id }}" class="govuk-back-link">Gateway account ({{ account.gateway_account_id }})</a>
  </div>

  <p class="govuk-body">
    The Stripe statement descriptor is what the user paying a service will see in their bank account. It's important that this
    correctly identifies the service to avoid chargebacks from confused users. This tool will update the Stripe Connect account.
  </p>

  <p class="govuk-body">
    <a class="govuk-link" href="https://stripe.com/docs/connect/statement-descriptors">Statement descriptors with Connect</a>
  </p>

  <p class="govuk-body">
    <a class="govuk-link" href="https://stripe.com/docs/statement-descriptors#requirements">Statement descriptor requirements</a>
  </p>

  <form method="POST" action="/gateway_accounts/{{ account.gateway_account_id }}/stripe_statement_descriptor">
    {{ govukInput({
      id: "statement_descriptor",
      name: "statement_descriptor",
      label: { text: "Stripe statement descriptor" },
      hint: {
        text: "Contains between 5 and 22 characters, inclusive. Contains at least one letter. Does not contain any of the special characters < > \ ' \" *"
      },
      autocomplete: "off"
    })
    }}

    {{ govukButton({
    text: "Update Stripe statement descriptor"
    })
    }}

    <input type="hidden" name="_csrf" value="{{ csrf }}">
  </form>
{% endblock %}