{% extends "layout/layout.njk" %}

{% block main %}
  <h1 class="govuk-heading-m">Services health check</h1>
  
  <div class="govuk-body">
    <ul class="govuk-list">
    {% for service in serviceStatuses.results %}
      <li>
        {% if service.healthCheckPassed %}
          <span class="circle status-connected"></span>
        {% else %}
          <span class="circle status-disconnected"></span>
        {% endif %}
        <span> {{ service.name }}</span>
      </li>
    {% endfor %}
    </ul>
  </div>

  <div>
    <p class="govuk-body">Last health check performed on {{ serviceStatuses.completedAt }}</p>
  </div>
{% endblock %}

