{% set globallyConfiguredGovUkComponentsPath = "govuk/components/" %}
{% from globallyConfiguredGovUkComponentsPath + "date-input/macro.njk" import govukDateInput %}
{% macro formDate(component, overrides = {}) %}

  {% set supportedTypes = [ 'date' ] %}
  {#
    At this stage do we want to very clearly visually flag up that either the component isn't well imported
    OR that it has a component definition that isn't supported by this macro
  #}

  {# @TODO(sfount) detail alogrithm for interpolating error messages based on tokens #}
  {# {% set token = (component.error.token | capitalize) if component.error.tokenIndex === 0 else component.error.token %}
  {% set interpolateMessage = component.error.template | replace("{token}", overrides.token or token) %}
  {% for value in component.error.messageValues %}
    {% set interpolateMessage = interpolateMessage | replace("{}", value) %}
  {% endfor %} #}

  {#
    @FIXME(sfount) questions remaining:
      - how can we have the same interpolated message (_based_ on overrides provided to individual components) without
        hacking everything to pieces (the answer may be that the token has to be provided at the data level)
        - currently reviewing what order everything in nunjucks is done in;;; if sets are done first then there is a chance
          that the interpolated value can be shared with a fallback if not available (default token etc.)
      - how many workarounds are acceptable to have the messages based on the label provided in the template rather
        than just putting a token in the data model
      - can we get a map to an error list (of href, text) from the error list if it contains a copy of each error
        - as each error contains a reference to the instance do we need anything further? the href can be generated from the id
  #}

  {% set year = component.value.year %}
  {% set month = component.value.month %}
  {% set day = component.value.day %}
  {% set yearClassModifier = 'govuk-input--error' if (component.error.field and 'year' in component.error.field) or (component.error.valid === false and component.error.field === undefined) else '' %}
  {% set monthClassModifier = 'govuk-input--error' if (component.error.field and 'month' in component.error.field) or (component.error.valid === false and component.error.field === undefined) else '' %}
  {% set dayClassModifier = 'govuk-input--error' if (component.error.field and 'day' in component.error.field) or (component.error.valid === false and component.error.field === undefined) else '' %}
  {{ govukDateInput({
    id: component.id,
    namePrefix: component.name,
    fieldset: (component.label or overrides.label) and {
      legend: {
        text: overrides.label or component.label,
        classes: overrides.isPageHeading and "govuk-fieldset__legend--l",
        isPageHeading: overrides.isPageHeading or false
      }
    },
    hint: (component.hint or overrides.hint) and {
      text: overrides.hint or component.hint
    },
    errorMessage: component.error and {
      text: component.error.reason
    },
    items: [{
      classes: "govuk-input--width-2 " + dayClassModifier,
      name: "day",
      value: day
    },{
      classes: "govuk-input--width-2 " + monthClassModifier,
      name: "month",
      value: month
    },{
      classes: "govuk-input--width-4 " + yearClassModifier,
      name: "year",
      value: year
    }]
  }) }}
    {# errorMessage: component.error and {
      text: component.error.reason
    }, #}

{% endmacro %}