{% from "components/button/macro.njk" import govukButton %}
{% from "components/table/macro.njk" import govukTable %}
{% extends "layout/layout.njk" %} 

{% block main %}
  
  <h1 class="govuk-heading-s">Manage API keys</h1>

  {% for message in messages %}
    <div class="govuk-error-summary success-summary" role="alert">
      <h2 class="govuk-error-summary__title">{{message}}</h2>
    </div>
  {% endfor %}

  <div>
    <a href="/gateway_accounts/{{ gatewayAccountId }}" class="govuk-back-link">Back to gateway account</a>
  </div>
  
  <!-- @TODO(sfount) could provide a link back to the gateway account here -->

  {% for token in tokens %}
    {{ govukTable({
    firstCellIsHeader: true,
    rows: [
      [ { text: "Token" }, { text: token.token_link } ],
      [ { text: "Issued Date" }, { text: token.last_used } ],
      [ { text: "Description" }, { text: token.description } ],
      [ { text: "Token Type" }, { text: token.token_type } ],
      [ { text: "Created By" }, { text: token.created_by } ]
    ]
    })
    }}

    <div>
      {{ govukButton({
        text: "Delete API Key",
        href: "/gateway_accounts/" + gatewayAccountId + "/api_keys/" + token.token_link + "/delete"
        })
      }}
    </div>
  {% endfor %}


  <div>
    <pre><code>{{ tokens | dump('\t') | safe }}</code></pre>
  </div>
{% endblock %}
