{% from "components/table/macro.njk" import govukTable %}
{% extends "layout/layout.njk" %} 

{% block main %}
  <h1>Confirm New Gateway Account Details</h1>

  {{ govukTable({
    caption: "Account Details",
    firstCellIsHeader: true,
    rows: [
    [ { text: 'Payment Method' }, { text: accountDetails.paymentMethod } ],
    [ { text: 'Account Type' }, { text: accountDetails.provider } ],
    [ { text: 'Service Name' }, { text: accountDetails.name } ],
    [ { text: 'Description' }, { text: accountDetails.generatedDescription or accountDetails.description } ],
    [ { text: 'Google Analytics ID' }, { text: accountDetails.analytics_id } ],
    [ { text: 'Is Live' }, { text: accountDetails.live } ],
    [ { text: 'Credentials' }, { text: accountDetails.credentials } ]
    ]
  })
  }}


  
  <form method="post" action="/gateway_accounts/create">
    <!-- @TODO(sfount) Improve: Maintain values over confirmation -->
    <input type="hidden" name="paymentMethod" value="{{ accountDetails.paymentMethod }}"> 
    <input type="hidden" name="provider" value="{{ accountDetails.provider }}"> 
    <input type="hidden" name="name" value="{{ accountDetails.name }}"> 
    <input type="hidden" name="description" value="{{ accountDetails.description }}"> 

    <!-- Not acitvely used - but cached if an error case is hit -->
    <input type="hidden" name="department" value="{{ accountDetails.department }}"> 
    <input type="hidden" name="serviceReference" value="{{ accountDetails.serviceReference }}"> 

    <input type="hidden" name="live" value="{{ accountDetails.live }}"> 
    <input type="hidden" name="credentials" value="{{ accountDetails.credentials }}"> 

    <button type="submit">Submit</button>
  </form>

{% endblock %}
