{% from "components/table/macro.njk" import govukTable %}
{% from "components/button/macro.njk" import govukButton %}
{% extends "layout/layout.njk" %} 

{% block main %}
  <h1 class="govuk-heading-m">Confirm details for new Gateway Account</h1>

  {{ govukTable({
    firstCellIsHeader: true,
    rows: [
    [ { text: 'Payment Method' }, { text: request.paymentMethod | capitalize } ],
    [ { text: 'Account Type' }, { text: request.provider | capitalize } ],
    [ { text: 'Service Name' }, { text: request.serviceName } ],
    [ { text: 'Description' }, { text: request.description } ],
    [ { text: 'Google Analytics ID' }, { text: request.analyticsId } ],
    [ { text: 'Is Live' }, { text: request.live | capitalize } ],
    [ { text: 'Credentials' }, { text: request.credentials } ]
    ]
  })
  }}


  
  <form method="post" action="/gateway_accounts/create">
    <!-- @TODO(sfount) Improve: Maintain values over confirmation -->
    <input type="hidden" name="paymentMethod" value="{{ request.paymentMethod }}"> 
    <input type="hidden" name="provider" value="{{ request.provider }}"> 
    <input type="hidden" name="serviceName" value="{{ request.serviceName }}"> 
    <input type="hidden" name="description" value="{{ request.description }}"> 
    <input type="hidden" name="analyticsId" value="{{ request.analyticsId }}"> 
    <input type="hidden" name="systemLinkedService" value="{{ request.systemLinkedService }}"> 
    <input type="hidden" name="systemLinkedCredentials" value="{{ request.systemLinkedCredentials }}"> 

    <input type="hidden" name="live" value="{{ request.live }}"> 
    <input type="hidden" name="credentials" value="{{ request.credentials }}"> 
  
    {{ govukButton({
      text: "Create Gateway Account"
      })
    }}
  </form>

{% endblock %}
