{% extends "layout/layout.njk" %} 

{% block main %}
  <h1>Gateway Accounts</h1>

  {% for message in messages %}
    <div>
      <p>{{ message }}</p>
    </div>
  {% endfor %}
  
  <!-- @FIXME(sfount) there must be a better way to do the headings etc. -->
  <!-- manual table used because macro is too simplistic -->
  <table class="govuk-table">
    <caption class="govuk-table__caption">Gateway Accounts Overview</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col">ID</th>
        <th class="govuk-table__header" scope="col">Type</th>
        <th class="govuk-table__header" scope="col">Provider</th>
        <th class="govuk-table__header" scope="col">Service</th>
        <th class="govuk-table__header" scope="col">Actions</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      {% for account in accounts %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><a href="/gateway_accounts/{{ account.gateway_account_id }}">{{ account.gateway_account_id }}</a></td>
        <td class="govuk-table__cell">{{ account.type }}</td> 
        <td class="govuk-table__cell">{{ account.payment_provider }}</td> 
        <td class="govuk-table__cell">{{ account.service_name }}</td> 
        <td class="govuk-table__cell"><a href="/transactions/{{ account.gateway_account_id }}">Transactions</a></td> 
      </tr>
      {% else %}
      <!-- @TODO(sfount) test this -->
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" colspan="4">No gateway accounts returned from connector</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
