{% from "components/phase-banner/macro.njk" import govukPhaseBanner %}
<!DOCTYPE html>
<html lang="en" class="govuk-template">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Pay Toolbox (Revised)</title>

  <!-- @TODO(sfount) potentially move this to includes:style.njk -->
  <!-- link rel="stylesheet" href="{{ manifest['payuk-toolbox.css'] }}" -->
</html>
<body class="govuk-template__body js-enabled">

<!-- @TODO(sfount) use header style from docs like pages (thinner black bar 
  and full blue bar underneath - search bar on the right -->
  <!-- as found on https://design-system.service.gov.uk/ -->

  <!-- header class="govuk-header">
    <div class="govuk-header__container govuk-width-container">
      <span style="font-size: 1.5rem; line-height: 1.25">Pay Toolbox (Revised)</span>
    </div>
  </header -->

  <!-- taken from legacy design - this could potentially be split for /v1 /v2 -->
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <h2 class="govuk-heading-m">Pay Toolbox (Revised)</h2>
    </div>
  </div>
  <div class="govuk-width-container">

    <div class="govuk-main-wrapper govuk-!-padding-top-0">
      <!-- @TODO(sfount) move to header njk -->

      <div class="govuk-grid-row">
        {{
          govukPhaseBanner({
            tag: { text: 'alpha' },
            html: 'This tool is in active development. It should not be used in production.'
          })
        }}
      </div>

      <div class="govuk-grid-row">

        <!-- @TODO(sfount) temporary application structure pending design -->
        <!-- @FIXME(sfount) revise - application navigation -->
        <!-- @TODO(sfount) consider performance with side nav - it could be prebaked -->
        <!-- @FIXME(sfount) > 100 ms performance concerns - could just be laptop battery -->
        <!-- note a lot of these performance issues are from receiving error codes from non-connected services -->

        <div class="govuk-grid-column-one-quarter">
          <h4 class="app-subnav__header">Statistics</h4>
          <!-- @TODO(sfount) move links etc. into small templates/ macros - make use of govuk front end utilites as much as possible -->
          <ul class="app-subnav__section">
            <li class="app-subnav__section-item">
              <a class="app-subnav__link govuk-link" href="/statistics">Overview</a>
            </li>
            <li class="app-subnav__section-item">
              <a class="app-subnav__link govuk-link" href="/statistics/filter/date">Filter By Date (deprecated)</a>
            </li>
            <li class="app-subnav__section-item">
              <a class="app-subnav__link govuk-link" href="/statistics/compare/date">Compare By Date (deprecated)</a>
            </li>
            <li class="app-subnav__section-item">
              <a class="app-subnav__link govuk-link" href="/statistics/services">Services</a>
            </li>
          </ul>

          <h4 class="app-subnav__header">Gateway Accounts</h4>
          <ul class="app-subnav__section">
            <li class="app-subnav__section-item">
              <a class="app-subnav__link govuk-link" href="/gateway_accounts">Overview</a>
            </li>
            <li class="app-subnav__section-item">
              <a class="app-subnav__link govuk-link" href="/gateway_accounts/create">Create New Account</a>
            </li>
          </ul>
        </div>
        
        <h4 class="app-subnav__header">Services</h4>
          <ul class="app-subnav__section">
            <li class="app-subnav__section-item">
              <a class="app-subnav__link govuk-link" href="/services">Overview</a>
            </li>
            <li class="app-subnav__section-item">
              <a class="app-subnav__link govuk-link" href="/services/search">Find a Service</a>
            </li>
          </ul>
        </div>
        
        <h4 class="app-subnav__header">Transactions</h4>
          <ul class="app-subnav__section">
            <li class="app-subnav__section-item">
              <a class="app-subnav__link govuk-link" href="/transactions/search">Find a Transaction</a>
            </li>
          </ul>
        </div>

        <div class="govuk-grid-column-three-quarters">
          {% block main %}
          {% endblock %}
        </div>
      </div>
    </div>

    <!-- div class="govuk-phase-banner">
      <div class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">COOL</strong>
        <span class="govuk-phase-banner__text">This is the banner text, contribute to this etc.</span>
      </div>
    </div -->
  </div>
  <footer class="govuk-footer">
    <div class="govuk-width-container">
      <div class="govuk-footer__meta">
        
        <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
          <span class="govuk-footer__licsense-description">
          <!-- span -->
            To contribute or request features please follow this link.
          </span>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
