<!-- @TODO(sfount) move this as an optionally templated piece in overview -->
{% from "components/table/macro.njk" import govukTable %}
{% extends "layout/layout.njk" %} 

{% block main %}
  <h1 class="govuk-heading-s">Statistics</h1>
  
  <h4 class="govuk-heading-s">{{ date | formatDateLong }}</h4>
  {{ govukTable({
      firstCellIsHeader: true,
      rows: stats
    })
  }}
  
  <h4 class="govuk-heading-s">{{ compareDate | formatDateLong }}</h4>
  {{ govukTable({
      firstCellIsHeader: true,
      rows: compareStats
    })
  }}

{% endblock %}
