{% from "components/table/macro.njk" import govukTable %}
{% extends "layout/layout.njk" %} 

{% block main %}
  <h1>Connector Statistics Overview</h1>
  
  {{ govukTable({
      caption: date or "All Time",
      firstCellIsHeader: true,
      rows: stats
    })
  }}
{% endblock %}
