{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "common/json.njk" import json %}

{% extends "layout/layout.njk" %}

{% block main %}
  <span class="govuk-caption-m">{{ service.name }}</span>
  <h1 class="govuk-heading-m">Service details</h1>

  {% for message in messages %}
    <div class="govuk-error-summary success-summary" role="alert">
      <h2 class="govuk-error-summary__title">{{message}}</h2>
    </div>
  {% endfor %}

  {{ govukSummaryList({
    rows: [
      { key: { text: "Service ID" }, value: { text: service.id } },
      { key: { text: "External ID" }, value: { html: "<code>" + service.external_id + "</code>" } },
      { key: { text: "Name" }, value: { text: service.name } },
      { key: { text: "Organisation" }, value: { text: service.merchant_details.name or "(Not set)" }, actions: { items: [{ href: "/services/" + service.external_id + "/organisation", text: "Change" }] } },
      { key: { text: "Go live status" }, value: { text: service.current_go_live_stage | upper } },
      { key: { text: "Redirect to service on terminal state" }, value: { text: service.redirect_to_service_immediately_on_terminal_state | string | capitalize } },
      { key: { text: "Experimental features are enabled" }, value: { text: service.experimental_features_enabled | string | capitalize } }
    ]
    })
  }}

  <div>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col" colspan="2">Gateway accounts</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for id in service.gateway_account_ids %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a class="govuk-link govuk-link--no-visited-state" href="/gateway_accounts/{{ id }}">{{id}}</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Email</th>
          <th class="govuk-table__header" scope="col">Role</th>
          <th class="govuk-table__header" scope="col">Disabled</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for user in users %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="/users/{{ user.external_id }}" class="govuk-link govuk-link--no-visited-state">{{ user.email }}
            </td>
            <td class="govuk-table__cell">{{ user.role | capitalize }}</td>
            <td class="govuk-table__cell">{{ user.disabled | string | capitalize }}</td>
          </tr>
        {% endfor %}
      </body>
    </table>
  </div>

  <div>
    <h1 class="govuk-heading-s">Going live - new Stripe payment provider</h1>
    <p class="govuk-body">This will guide you through:</p>
    <ul class="govuk-list govuk-list--number">
      <li>Creating new Stripe account through the Stripe API</li>
      <li>Creating a GOV.UK Pay gateway account, with the correct Stripe credentials</li>
    </ul>

    {{ govukButton({
      text: "Setup live Stripe account",
      href: "/stripe/basic/create?service=" + service.external_id
      })
    }}

    <p>
      <a class="govuk-link" href="/stripe/create?service={{ service.external_id }}">
        Create live Stripe account with all details (the old way)
      </a>
    </p>
    <br/>
  </div>

  <div>
    <h1 class="govuk-heading-s">Going live - existing payment provider</h1>
    <p class="govuk-body">This will guide you through:</p>
    <ul class="govuk-list govuk-list--number">
      <li>Creating a GOV.UK Pay gateway account</li>
    </ul>

  {{ govukButton({
      text: "Setup gateway account",
      href: "/gateway_accounts/create?service=" + service.external_id
      })
      }}
  </div>

  <div>
    <h1 class="govuk-heading-s">Service actions</h1>
    {{ govukButton({
      text: "Edit custom branding",
      href: "/services/" + serviceId + "/branding"
      })
      }}
    {{ govukButton({
      text: "Link gateway accounts",
      href: "/services/" + serviceId + "/link_accounts"
      })
    }}
  </div>

  <div>
    <h1 class="govuk-heading-s">Toggle redirect to service on terminal state flag</h1>
    <p class="govuk-body">Enabling this flag for a service will change the payment flow across all gateway accounts, this should never be done without consulting the service.</p>
    <p class="govuk-body">Reference the <a <a class="govuk-link" href="https://docs.payments.service.gov.uk/optional_features/use_your_own_error_pages/#use-your-own-payment-failure-pages">use your own error pages</a> documentation for more details.</p>
    {{ govukButton({
      text: "Toggle redirect to service on terminal state flag",
      classes: "govuk-button--warning",
      href: "/services/" + serviceId + "/toggle_terminal_state_redirect"
      })
    }}
  </div>

  <div>
    <h1 class="govuk-heading-s">Toggle experimental features enabled flag</h1>
    <p class="govuk-body">Enabling this flag for a service will opt the service into any features checking for this flag to be set on the service.</p>
    <p class="govuk-body">This flag should only be enabled while the service is testing functionality that will not be made available to all users/ services initially.</p>
    {{ govukButton({
      text: "Toggle experimental features flag",
      href: "/services/" + serviceId + "/toggle_experimental_features_enabled"
      })
    }}
  </div>

  {{ json("Service details source", service) }}
  {{ json("Users details source", users) }}
{% endblock %}
