{% from "components/button/macro.njk" import govukButton %}
{% extends "layout/layout.njk" %}

{% block main %}
  <h1 class="govuk-heading-m">Service details</h1>

  {% for message in messages %}
    <div class="govuk-error-summary success-summary" role="alert">
      <h2 class="govuk-error-summary__title">{{message}}</h2>
    </div>
  {% endfor %}

  <table class="govuk-table">
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col">Service ID</th>
        <td class="govuk-table__cell">{{service.id}}</td>
      </tr>
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col">External ID</th>
        <td class="govuk-table__cell">{{service.external_id}}</td>
      </tr>
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col">Name</th>
        <td class="govuk-table__cell">{{service.name}}</td>
      </tr>
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col">Go live status</th>
        <td class="govuk-table__cell">{{service.current_go_live_stage | upper }}</td>
      </tr>
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col">Gateway accounts</th>
        <td class="govuk-table__cell">
          {% for id in service.gateway_account_ids %}
            <a class="govuk-link govuk-link--no-visited-state" href="/gateway_accounts/{{ id }}">{{id}}</a>
          {% endfor %}
        </td>
      </tr>
    </tbody>
  </table>

  <div>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Email</th>
          <th class="govuk-table__header" scope="col">Disabled</th>
          <th class="govuk-table__header" scope="col">Login count</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for user in users %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="/users/{{ user.external_id }}" class="govuk-link govuk-link--no-visited-state">{{ user.email }}
            </td>
            <td class="govuk-table__cell">{{ user.disabled | string | capitalize }}</td>
            <td class="govuk-table__cell">{{ user.login_counter }}</td>
          </tr>
        {% endfor %}
      </body>
    </table>
  </div>

  <div>
    <h1 class="govuk-heading-s">Going live - new Stripe payment provider</h1>
    <p class="govuk-body">This will guide you through:</p>
    <ul class="govuk-list govuk-list--number">
      <li>Creating new Stripe account through the Stripe API</li>
      <li>Creating a GOV.UK Pay gateway account, with the correct Stripe credentials</li>
    </ul>

    {{ govukButton({
      text: "Setup live Stripe account",
      href: "/stripe/create?service=" + service.external_id
      })
    }}

    <p>
      <a class="govuk-link" href="/stripe/basic/create?service={{ service.external_id }}">
        Create live Stripe account using stored details (do not use yet)
      </a>
    </p>
    <br/>
  </div>

  <div>
    <h1 class="govuk-heading-s">Going live - existing payment provider</h1>
    <p class="govuk-body">This will guide you through:</p>
    <ul class="govuk-list govuk-list--number">
      <li>Creating a GOV.UK Pay gateway account</li>
    </ul>

  {{ govukButton({
      text: "Setup live gateway account",
      href: "/gateway_accounts/create?service=" + service.external_id
      })
      }}
  </div>

  <div>
    <h1 class="govuk-heading-s">Service actions</h1>
    {{ govukButton({
      text: "Edit custom branding",
      href: "/services/" + serviceId + "/branding"
      })
      }}
    {{ govukButton({
      text: "Link gateway accounts",
      href: "/services/" + serviceId + "/link_accounts"
      })
    }}
  </div>

  <div>
    <pre><code>{{ service | dump('\t') }}</code></pre>
    <pre><code>{{ users | dump('\t') }}</code></pre>
  </div>
{% endblock %}
