{% extends "layout/layout.njk" %}

{% block main %}
  <span class="govuk-caption-m">GOV.UK Pay platform</span>
  <h1 class="govuk-heading-m">Services</h1>
  <div>
    <a href="services/performance_platform_csv"
      class="govuk-button govuk-button--secondary govuk-!-margin-bottom-2">
      Export live services CSV for Performance platform
    </a>
  </div>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col">ID</th>
        <th class="govuk-table__header" scope="col">Name</th>
        <th class="govuk-table__header" scope="col">Go live status</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      {% for service in services | sort(true, false, 'id') %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">{{ service.id }}</td>
          <td class="govuk-table__cell">
            <a class="govuk-link govuk-link--no-visited-state" href="/services/{{ service.external_id }}">{{ service.name }}</a>
            <br>
            {{ service.merchant_details.name }}
          </td>
          <td class="govuk-table__cell">{{ service.current_go_live_stage }}</td>
        </tr>
      {% else %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" colspan="4">No services returned from connector.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}