{% from "components/input/macro.njk" import govukInput %}
{% from "components/button/macro.njk" import govukButton %}
{% extends "layout/layout.njk" %}

{% block main %}
  <span class="govuk-caption-m">GOV.UK Pay platform</span>
  <h1 class="govuk-heading-m">Find a service</h1>

  <form method="POST" action="/services/search">
    {{ govukInput({
      id: "id",
      name: "id",
      label: { text: "Service external ID" }
      })
    }}

    {{ govukButton({
      text: "Search"
      })
    }}

    <input type="hidden" name="_csrf" value="{{ csrf }}">
  </form>
{% endblock %}
