{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "common/errorSummary.njk" import errorSummary %}
{% extends "layout/layout.njk" %}

{% block main %}
    <div class="govuk-body">
        <a href="/services/{{ serviceId }}" class="govuk-back-link">Back to service ({{ serviceId }})</a>
    </div>

    <span class="govuk-caption-m">Add test account</span>
    <h1 class="govuk-heading-m">Which type of test account do you want to add?</h1>

    {% if errors %}
        {{ errorSummary({ errors: errors }) }}
    {% endif %}

    <form method="post" action="/services/{{ serviceId }}/test_account">
        {{ govukRadios({
            name: "provider",
            items: [
                {
                    value: "stripe",
                    text: "Stripe"
                },
                {
                    value: "worldpay",
                    text: "Worldpay"
                },
                {
                    value: "sandbox",
                    text: "Sandbox"
                }
            ]
        }) }}

        {{ govukButton({
            text: "Continue"
        }) }}

        <input type="hidden" name="_csrf" value="{{ csrf }}">
    </form>
{% endblock %}
