{% from "components/error-summary/macro.njk" import govukErrorSummary %}
{% extends "layout/layout.njk" %}

{% block main %}
{{ govukErrorSummary({
  titleText: "There is a problem",
  errorList: [ { text: message } ]
  }) 
}}
{% endblock %}
