{% from "components/input/macro.njk" import govukInput %}
{% from "components/radios/macro.njk" import govukRadios %}
{% from "components/button/macro.njk" import govukButton %}
{% from "components/error-summary/macro.njk" import govukErrorSummary %}
{% extends "layout/layout.njk" %} 

{% block main %}
  <h1 class="govuk-heading-m">Find discrepancies</h1>
  
  {% for message in messages %}
  {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: [ { text: message } ]
  })
  }}
  {% endfor %}

  <form method="POST" action="/discrepancies/search">

  
      <div class="govuk-form-group">
        <label class="govuk-label">Search String</label>
        <input class="govuk-input" id="search_string" name="search_string" type="text" value="{{ recovered.search_string }}" autocomplete="off">
      </div>
   
      {{ govukButton({
        text: "Search Discrepancies"
        })
      }}
  </form>
{% endblock %}
