{% from "components/table/macro.njk" import govukTable %}
{% extends "layout/layout.njk" %} 

{% block main %}
  <h1 class="govuk-heading-m">Statistics by service</h1>
  
  {{ govukTable({
      firstCellIsHeader: false,
      head: [
        { text: "Service" },
        { text: "Total volume" },
        { text: "Total amount" },
        { text: "Avg. amount" },
        { text: "Min amount" },
        { text: "Max amount" }
      ],
      rows: stats
    })
  }}
{% endblock %}
