{% from "transactions/status.macro.njk" import status %}

{% extends "layout/layout.njk" %}

{% set isTestData = account and not (account.type === "live") %}

{% set linkQueryParams %}{% if service %}&account={{ accountId }}{% endif %}{% if transactionType %}&type={{ transactionType }}{% endif %}{% endset %}

{% block main %}
  <span class="govuk-caption-m">
    {% if service %}
      <span>{{ service.name }}</span>
    {% else %}
      <span>GOV.UK Pay platform</span>
    {% endif %}
  </span>

  <h1 class="govuk-heading-m">{% if transactionType == "REFUND" %}Refunds{% else %}Payments{% endif %}</h1>

  <div class="transactions-filter__container govuk-body">
    {% for status in ["succeeded", "failed", "in-progress", "all"] %}
      <a
        class="transactions-filter__item {% if selectedStatus === status %}selected{% endif %} no-decoration"
        href="/transactions?status={{ status }}{{ linkQueryParams }}">
        <span>{{ status | capitalize }}</span>
      </a>
    {% endfor %}
  </div>

  {% if filters.reference or filters.gateway_payout_id %}
    <div class="govuk-body">
      <h4 class="govuk-heading-s">Filtered by</h4>
      {% if filters.reference %}
        <div class="govuk-body">
          <div class="govuk-grid-column-one-third">Reference: </div>
          <span><strong class="govuk-tag">{{ filters.reference }}</strong></span>
        </div>
      {% endif %}
      {% if filters.gateway_payout_id %}
        <div class="govuk-body">
            <div class="govuk-grid-column-one-third">Gateway payout ID : </div>
            <span><strong class="govuk-tag">{{ filters.gateway_payout_id }}</strong></span>
        </div>
      {% endif %}
    </div>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  {% endif %}

{% if filters.gateway_transaction_id %}
  <div class="govuk-body">
    <span>Filtered by gateway transaction ID </span>
    <span><strong class="govuk-tag">{{ filters.gateway_transaction_id }}</strong></span>
  </div>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  {% endif %}


  <div>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col"></th>
          <th class="govuk-table__header" scope="col">Amount</th>
          <th class="govuk-table__header" scope="col"></th>
          <th class="govuk-table__header" scope="col">Description</th>
          <th class="govuk-table__header" scope="col">Date created</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for payment in transactions %}
        <tr class="govuk-table__row" onclick="local.href='/transactions'">
          <td class="govuk-table__cell">
            <span class="govuk-caption-m">{{ payment.payment_provider | capitalize }}</span>
          </td>
          <td class="govuk-table__cell text-right">
              <a class="govuk-link govuk-link--no-visited-state" href="/transactions/{{ payment.transaction_id }}">
                {{ (payment.total_amount or payment.amount) | currency }}
              </a>
          <td class="govuk-table__cell">
            {{ status(
              payment.state.status,
              payment.state.finished,
              payment.refund_summary and payment.refund_summary.status,
              payment.refund_summary and payment.refund_summary.amount_submitted
              ) }}
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-caption-m">{{ payment.description | truncate(20) }}</span>
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-caption-m">{{ payment.created_date | formatDateLocalTimeZone }}</span>
          </td>
        </tr>
        {% else %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell center" colspan="5"><span><i>No transactions found.</i></span></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="govuk-body">
    Showing page {{ set.page }} ({{ set.count }}) of
    {% if set.total < 5000 %}
        about {{ set.total }} transactions
    {% else %}
        over 5000 transactions
    {% endif %}

  </div>
  <div class="toolbox-right">
    <a
      {% if set.page <= 1 %}
        disabled
      {% elseif filters.gateway_payout_id %}
        href="/transactions?page={{ set.page - 1 }}&account={{ accountId }}&gateway_payout_id={{ filters.gateway_payout_id }}"
      {% else %}
        href="/transactions?page={{ set.page - 1 }}&status={{ selectedStatus }}{{ linkQueryParams }}"
      {% endif %}

      class="govuk-button govuk-button--secondary">
      Previous
    </a>
    <a
      {% if not(set._links.next_page) %}
        disabled
      {% elseif filters.gateway_payout_id %}
        href="/transactions?page={{ set.page + 1 }}&account={{ accountId }}&gateway_payout_id={{ filters.gateway_payout_id }}"
      {% else %}
        href="/transactions?page={{ set.page + 1 }}&status={{ selectedStatus }}{{ linkQueryParams }}"
      {% endif %}

      class="govuk-button govuk-button--secondary">
      Next
    </a>
  </div>
{% endblock %}