{% from "transactions/status.macro.njk" import status %}
{% from "common/json.njk" import json %}
{% from "./../webhooks/webhookMessageStatus.macro.njk" import webhookMessageStatusTag %}
{% extends "layout/layout.njk" %}

{% set isTestData = not transaction.live %}

{% block main %}
  <h1 class="govuk-heading-m">Payment</h1>

  <div class="status-inline-spacer">
  <span class="govuk-body-l status-amount">{{ (transaction.total_amount or transaction.amount) | currency }}</span>

  {{ status(
    transaction.state.status,
    transaction.state.finished,
    transaction.refund_summary and transaction.refund_summary.status,
    transaction.refund_summary and transaction.refund_summary.amount_submitted
    ) }}
  </div>

  <div class="govuk-grid-row status-spacer payment-detail-row">
    <div class="govuk-grid-column-one-quarter">
      <span class="govuk-caption-m">Date</span>
      <span class="govuk-body">{{ transaction.created_date | formatDate }}</span>
    </div>
    {% if transaction.card_details %}
    <div class="govuk-grid-column-one-quarter ellipses-text-wrap">
      <span class="govuk-caption-m">Payer</span>
      <span class="govuk-body">{{ transaction.card_details.cardholder_name }}</span>
    </div>
    <div class="govuk-grid-column-one-quarter">
      <span class="govuk-caption-m">Payment method</span>
      <span class="govuk-body">{{ transaction.card_details.card_brand | capitalize }} <strong>••••</strong> {{ transaction.card_details.last_digits_card_number }}</span>
    </div>
    {% endif %}
  </div>

  <div>
    <h1 class="govuk-heading-s payment__header">Payment details</h1>
    <table class="govuk-table">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th class="govuk-table__cell payment__cell" scope="row"><span class="govuk-caption-m">GOV.UK Pay ID</span></th>
          <td class="govuk-table__cell payment__cell">{{ transaction.transaction_id }}</td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__cell payment__cell" scope="row"><span class="govuk-caption-m">Reference</span></th>
          <td class="govuk-table__cell payment__cell">{{ transaction.reference }}</td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__cell payment__cell" scope="row"><span class="govuk-caption-m">Description</span></th>
          <td class="govuk-table__cell payment__cell">{{ transaction.description }}</td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__cell payment__cell" scope="row"><span class="govuk-caption-m">Created date</span></th>
          <td class="govuk-table__cell payment__cell">{{ transaction.created_date | formatDateLocalTimeZone }}</td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__cell payment__cell" scope="row"><span class="govuk-caption-m">Amount</span></th>
          <td class="govuk-table__cell payment__cell">
            <span>{{ (transaction.total_amount or transaction.amount) | currency }} </span>
            {% if transaction.corporate_surcharge %}
            <span>(including {{ transaction.corporate_surcharge | currency }}) corporate surcharge</span>
            {% endif %}
          </td>
        </tr>
        {% if transaction.fee %}
        <tr class="govuk-table__row">
          <th class="govuk-table__cell payment__cell" scope="row"><span class="govuk-caption-m">Fee</span></th>
          <td class="govuk-table__cell payment__cell">{{ transaction.fee | currency }}</td>
        </tr>
        <tr class="govuk-table__row ">
          <th class="govuk-table__cell payment__cell" scope="row"><span class="govuk-caption-m">Net</span></th>
          <td class="govuk-table__cell payment__cell">{{ transaction.net_amount | currency }}</td>
        </tr>
        {% endif %}
        {% if transaction.refund_summary.status %}
        <tr class="govuk-table__row">
          <th class="govuk-table__cell payment__cell" scope="row"><span class="govuk-caption-m">Refunded</span></th>
          <td class="govuk-table__cell payment__cell">{{ transaction.refund_summary.amount_submitted | currency }}</td>
        </tr>
        <tr class="govuk-table__row ">
          <th class="govuk-table__cell payment__cell" scope="row"><span class="govuk-caption-m">Available</span></th>
          <td class="govuk-table__cell payment__cell">{{ transaction.refund_summary.amount_available | currency }}</td>
        </tr>
        {% endif %}
    </table>
  </div>

{% if relatedTransactions.length %}
  <div>
    <h1 class="govuk-heading-s payment__header">Related transactions</h1>
    <table class="govuk-table">
      <tbody class="govuk-table__body">
        {% for transaction in relatedTransactions %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell payment__cell" scope="row">
            <a class="govuk-link govuk-link--no-visited-state" href="/transactions/{{transaction.transaction_id}}">{{ transaction.transaction_id }}
          </td>
          <td class="govuk-table__cell payment__cell">
            <th class="govuk-table__cell payment__cell" scope="row">
              <span class="govuk-caption-m">{{ transaction.transaction_type | capitalize }}</span>
            </th>
          </td>
          <td class="govuk-table__cell payment__cell">
            <th class="govuk-table__cell payment__cell text-right" scope="row">
              <span class="govuk-caption-m">{{ transaction.created_date | formatDate }}</span>
            </th>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endif %}

  <div>
    <h1 class="govuk-heading-s payment__header">Processing details</h1>
    <table class="govuk-table">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th class="govuk-table__cell payment__cell" scope="row"><span class="govuk-caption-m">Gateway account</span></th>
          <td class="govuk-table__cell payment__cell">
            <a class="govuk-link govuk-link--no-visited-state" href="/gateway_accounts/{{transaction.gateway_account_id}}">{{ transaction.gateway_account_id }}
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__cell payment__cell" scope="row"><span class="govuk-caption-m">Service</span></th>
          <td class="govuk-table__cell payment__cell">
          <a class="govuk-link govuk-link--no-visited-state" href="/services/{{service.external_id}}">{{ service.external_id }}
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__cell payment__cell" scope="row"><span class="govuk-caption-m">Payment provider</span></th>
          <td class="govuk-table__cell payment__cell">{{ transaction.payment_provider | capitalize }}</td>
        </tr>
        {% if transaction.gateway_transaction_id %}
        <tr class="govuk-table__row">
          <th class="govuk-table__cell payment__cell" scope="row"><span class="govuk-caption-m">Provider transaction</span></th>
          <td class="govuk-table__cell payment__cell">
            {% if stripeDashboardUri %}
              <a class="govuk-link govuk-link--no-visited-state" target="_blank" rel="noopener noreferrer" href="{{ stripeDashboardUri }}">{{ transaction.gateway_transaction_id }}</a>
            {% else %}
              {{ transaction.gateway_transaction_id }}
            {% endif %}
          </td>
        </tr>
        {% endif %}
        <tr class="govuk-table__row">
          <th class="govuk-table__cell payment__cell" scope="row"><span class="govuk-caption-m">Delayed capture</span></th>
          <td class="govuk-table__cell payment__cell">{{ transaction.delayed_capture | string | capitalize }}</td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__cell payment__cell" scope="row"><span class="govuk-caption-m">MOTO</span></th>
          <td class="govuk-table__cell payment__cell">{{ transaction.moto | string | capitalize }}</td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__cell payment__cell" scope="row"><span class="govuk-caption-m">Recurring</span></th>
          {% if transaction.authorisation_mode === "agreement" %}
            <td class="govuk-table__cell payment__cell">True</td>
          {% else %}
            <td class="govuk-table__cell payment__cell">False</td>
          {% endif %}
        </tr>
        {% if transaction.agreement_id %}
          <tr class="govuk-table__row">
            <th class="govuk-table__cell payment__cell" scope="row"><span class="govuk-caption-m">Agreement</span></th>
            <td class="govuk-table__cell payment__cell">
            <a class="govuk-link govuk-link--no-visited-state" href="/agreements/{{transaction.agreement_id}}">{{ transaction.agreement_id }}
            </td>
          </tr>
        {% endif %}
      </tbody>
    </table>
  </div>

  <div>
    <h1 class="govuk-heading-s payment__header">Metadata</h1>

    {% if transaction.metadata %}
      <table class="govuk-table">
        <tbody class="govuk-table__body">
          {% for key, value in transaction.metadata %}
          <tr class="govuk-table__row">
            <th class="govuk-table__cell payment__cell" scope="row"><span class="govuk-caption-m">{{ key }}</span></th>
            <td class="govuk-table__cell payment__cell">
              <a class="govuk-link govuk-link--no-visited-state">{{ value }}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <div class="center bottom-spacer"><span class="govuk-caption-m">No metadata</span></div>
    {% endif %}
  </div>

  <div>
    <h1 class="govuk-heading-s payment__header">Webhook messages</h1>
    {% if webhookMessages.length %}
    <table class="govuk-table">
      <tbody class="govuk-table__body">
      {% for message in webhookMessages %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link" href="/webhooks/{{ message.webhook_id }}/messages/{{ message.external_id }}">{{ humanReadableSubscriptions[message.event_type | upper] }}</a></td>
          <td class="govuk-table__cell">{{ webhookMessageStatusTag(message.last_delivery_status or 'PENDING') }}</td>
          <td class="govuk-table__cell">{{ message.created_date | formatDate }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    {% else %}
      <div class="center bottom-spacer"><span class="govuk-caption-m">No webhook messages associated with payment</span></div>
    {% endif %}
  </div>

  <div>
    <h1 class="govuk-heading-s payment__header">Ledger events</h1>

    <table class="govuk-table">
          <tbody class="govuk-table__body">
    {% for event in events %}

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">{{ event.event_type }}</td>
          <td class="govuk-table__cell">{{ event.timestamp | formatDate}}</td>
        </tr>

        {% if event.data %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" colspan="2">
            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Event details
                </span>
              </summary>
              <div class="govuk-details__text">
                <pre><code>{{ event.data | dump('\t') }}</code></pre>
              </div>
            </details>
          </td>
        </tr>
        {% endif %}
    {% else %}
      <!-- @TODO(sfount) use a row here -->
      <div class="center bottom-spacer"><span class="govuk-caption-m">No events</span></div>
    {% endfor %}
    </tbody>
    </table>
  </div>

  <div>
    <h1 class="govuk-heading-s payment__header">Actions</h1>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="/transactions/{{ transaction.transaction_id }}/parity">Validate in-flight and Ledger record parity</a>
      </li>
    </ul>
  </div>

  {{ json("Transaction source", transaction) }}
{% endblock %}
