{% macro status(state, final, refundedStatus, refundedAmount) %}
{# @TODO(sfount) this map could be done a lot better with more time + standard definitions being used #}
{% set success = ['success'] %}
{% set failed = ['failed', 'cancelled', 'timedout', 'error'] %}

<strong class="govuk-tag
    {% if final and success.includes(state) %} govuk-tag--green {% endif %}
    {% if final and failed.includes(state) %} govuk-tag--orange {% endif %}
    {% if not final %} govuk-tag--grey {% endif %}
  ">

  {# 0p payments are supported and will be flagged as 'full' even though they are not refunded #}
  {% set isFullyRefunded = success.includes(state) and refundedStatus === 'full' and refundedAmount > 0 %}

  {% if isFullyRefunded %}
  <span>Refunded</span>
  {% elif success.includes(state) and refundedAmount > 0 %}
  <span>Partial refund</span>
  {% else %}
  <span>{{ state | capitalize }}</span>
  {% endif %}
</strong>

{% endmacro %}
