{% extends "layout/layout.njk" %}

{% block main %}
  <span class="govuk-caption-m">
    {% if account %}
      <span>{{ account.name }}</span>
    {% else %}
      <span>GOV.UK Pay platform</span>
    {% endif %}
  </span>
  <h1 class="govuk-heading-m">Statistics</h1>
  <div class="transactions-filter__container govuk-body">
    {% for period in ["today", "week", "month"] %}
      <a
        class="transactions-filter__item {% if selectedPeriod === period %}selected{% endif %} no-decoration"
        href="/transactions/statistics/?period={{ period }}{{ "&account=" + accountId if accountId }}">
        <span>{{ period | capitalize }}</span>
      </a>
    {% endfor %}
  </div>
  <div class="govuk-body">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <div class = "center">
          <h1>{{results.payments}}</h1>
          <span>Payments</span>
        </div>
      </div>
      <div class="govuk-grid-column-one-half">
        <div class = "center">
          <h1>{{results.gross}}</h1>
          <span>Gross</span>
        </div>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <div class = "center">
          <h1>{{results.success}}</h1>
          <span>Success</span>
        </div>
      </div>
      <div class="govuk-grid-column-one-third">
        <div class = "center">
          <h1>{{results.error}}</h1>
          <span>Error</span>
        </div>
      </div>
      <div class="govuk-grid-column-one-third">
        <div class = "center">
          <h1>{{results.in_progress}}</h1>
          <span>In Progress</span>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
