<!DOCTYPE html>
<html lang="en" class="govuk-template">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Toolbox</title>
  <link rel="stylesheet" href="{{ manifest['payuk-toolbox.css'] }}">
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
</html>

<body class="govuk-!-margin-0">
  <div class="govuk-width-container">
  <div class="govuk-main-wrapper">
    <div id="root"></div>

    <script src="/public/{{manifest['browser.js']}}"></script>
  </div>
  </div>
</body>
</html>