{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "common/json.njk" import json %}
{% extends "layout/layout.njk" %}
{% from "../webhookMessageStatus.macro.njk" import webhookMessageStatusTag %}

{% set isTestData = webhook and not webhook.live %}

{% macro captionCell(content) %}
<span class="govuk-caption-m">{{ content }}</span>
{% endmacro %}

{% block main %}
  <div>
    <a href="/webhooks/{{ webhook.external_id }}/messages" class="govuk-back-link">Back to webhook messages</a>
  </div>

  {% set eventType = human_readable_subscriptions[message.event_type | upper] %}

  <h1 class="govuk-heading-m">{{ eventType }}</h1>

  {% set resourceLink %}
    <a class="govuk-link" href="/transactions/{{ message.resource_id }}">{{ message.resource_id }}</a>
  {% endset %}
  {{ govukSummaryList({
  rows: [
    { key : { text: captionCell("ID") }, value: { text: webhook.external_id } },
    { key : { text: captionCell("Resource") }, value: { html: resourceLink } },
    { key : { text: captionCell("Event date") }, value: { text: message.event_date | formatDate } },
    { key : { text: captionCell("Status code") }, value: { text: message.latest_attempt and message.latest_attempt.status_code or "-" } }
  ]
  }) }}

  <div class="govuk-!-margin-top-8">
    <h2 class="govuk-heading-s">Delivery attempts</h2>
    <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Attempt date</th>
            <th class="govuk-table__header" scope="col">Status</th>
            <th class="govuk-table__header" scope="col">Status code</th>
            <th class="govuk-table__header" scope="col">Result</th>
          </tr>
        </thead>

        <tbody class="govuk-table__body">
        {% for attempt in attempts %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">{{ attempt.send_at | formatDate }}</td>
            <td class="govuk-table__cell">{{ webhookMessageStatusTag(attempt.status) }}</td>
            <td class="govuk-table__cell">{{ attempt.status_code or '-' }}</td>
            <td class="govuk-table__cell">{{ attempt.result }}</td>
          </tr>

        {% else %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" colspan="4">
              <i>No delivery attempts found for event</i>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
  </div>

  {{ json(eventType + " event body", message.resource) }}
  {{ json("Webhook source", webhook) }}
  {{ json("Webhook message source", message) }}
{% endblock %}
