{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "common/json.njk" import json %}
{% extends "layout/layout.njk" %}
{% from "./webhookStatus.macro.njk" import webhookStatusTag %}

{% set isTestData = webhook and not webhook.live %}

{% macro captionCell(content) %}
<span class="govuk-caption-m">{{ content }}</span>
{% endmacro %}

{% block main %}
  <h1 class="govuk-heading-m">Webhook</h1>

  {% set subscriptions_list %}
    <ul class="govuk-list">
      {% for subscription_key in webhook.subscriptions %}
        <li>{{human_readable_subscriptions[subscription_key | upper]}}</li>
      {% endfor %}
    </ul>
  {% endset %}

  {{ govukSummaryList({
  rows: [
    { key : { text: captionCell("ID") }, value: { text: webhook.external_id } },
    { key : { text: captionCell("URL") }, value: { text: webhook.callback_url } },
    { key : { text: captionCell("Status") }, value: { html: webhookStatusTag(webhook.status) } },
    { key : { text: captionCell("Description") }, value: { text: webhook.description } },
    { key : { text: captionCell("Date created") }, value: { text: webhook.created_date | formatDate } },
    { key : { text: captionCell("Event types") }, value: { html: subscriptions_list } }
  ]
  }) }}

  <ul class="govuk-list">
    <li>
      <a href="/webhooks/{{ webhook.external_id }}/messages" class="govuk-link">View messages</a>
    </li>
  </ul><hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  {{ json("Webhook source", webhook) }}
{% endblock %}
