x
{% from "common/json.njk" import json %}
{% extends "layout/layout.njk" %}

{% block main %}
  <span class="govuk-caption-m">
    {% if service %}
      <span>{{ service.name }}</span>
    {% else %}
      <span>GOV.UK Pay platform</span>
    {% endif %}
  </span>

  <h1 class="govuk-heading-m">Webhooks</h1>

  {{ json("Webhooks source", webhooks) }}
{% endblock %}
