{% extends "layout/layout.njk" %}

{% block main %}
  <span class="govuk-caption-m">{{service.name}}</span>
  <h1 class="govuk-heading-m">Stripe payouts</h1>

  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col">Stripe ID</th>
        <th class="govuk-table__header" scope="col">Amount</th>
        <th class="govuk-table__header" scope="col">Status</th>
        <th class="govuk-table__header" scope="col">Initiated</th>
        <th class="govuk-table__header" scope="col">Arrival</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      {% for payout in payouts %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" title="{{payout.id}}}">
          <a class="govuk-link" href="payouts/{{payout.id}}" target="_blank">{{payout.id | truncate(10)}}</a>
          {# <pre><code>{{payout.id | truncate(10)}}</code></pre> #}
        </td>
        <td class="govuk-table__cell">{{payout.amount | currency}}</td>
        <td class="govuk-table__cell"><strong class="govuk-tag">{{payout.status}}</strong></td>
        <td class="govuk-table__cell">{{payout.created | unixDate }}</td>
        <td class="govuk-table__cell">{{payout.arrival_date | unixDate }}</td>
      </tr>
      {% else %}
      <tr class="govuk-table__row">
        <td colspan="5" class="govuk-table__cell">No payouts found for {{service.name}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
