{% from "components/input/macro.njk" import govukInput %}
{% from "components/button/macro.njk" import govukButton %}
{% extends "layout/layout.njk" %} 

{% block main %}
  <h1 class="govuk-heading-m">Update custom branding</h1>

  <div>
    <a href="/services/{{ serviceId }}" class="govuk-back-link">Back to service ({{ serviceId }})</a>
  </div> 

  <form method="POST" action="/services/{{ serviceId }}/branding">
    {{ govukInput({ 
      id: "image_url",
      name: "image_url",
      value: service.custom_branding and service.custom_branding.image_url,
      label: { text: "Image URL" }
      })
      }}
    
    {{ govukInput({ 
      id: "css_url",
      name: "css_url",
      value: service.custom_branding and service.custom_branding.css_url,
      label: { text: "CSS URL" }
      })
      }}

    {{ govukButton({
    text: "Update Branding Links"
    })
    }}
  </form>
{% endblock %}
