/*  @TODO(sfount) only import scss from frontend that is required */
@import "node_modules/govuk-frontend/all";

.success-summary {
  border-color: govuk-colour("green");
}

.success-summary > .govuk-error-summary__title {
  margin-bottom: 0px;
}

.circle {
  width: 15px;
  height: 15px;
  background-color: govuk-colour("grey-3");
  border-radius: 50%;
  margin-right: 2px;
  display: inline-block;
}

.status-connected {
  background-color: govuk-colour("green");
}

.status-disconnected {
  background-color: govuk-colour("red");
}

.flash-container {
  @extend .govuk-error-summary;
  margin-top: govuk-spacing(6);

    &--good {
    border-color:  govuk-colour("green");
  }

  .notification {
    @include govuk-font($size: 19);

    h2 {
      margin-top: 0;
    }
  }
}

.toolbox-right {
  float: right;
}

.user-profile {
  padding-top: govuk-spacing(2);
  padding-bottom: govuk-spacing(2);
  border-bottom: 1px solid $govuk-border-colour;
}

.user-profile__container {
  @include govuk-font($size: 16);
  @include govuk-text-colour;

  display: flex;
  flex-direction: row;
}

.user-profile__item {
  line-height: normal;
}
.user-profile__item:not(:last-child) {
  margin-right: govuk-spacing(1);
}
.user-profile__item.right {
  margin-left: auto;
}
.user-profile__item img {
  vertical-align: middle;
}

.avatar {
  border-radius: 3px;
}

.toolbox_header__offset {
  padding-left: 0px;
}

.payment__cell {
  border-bottom: none;
  padding-bottom: 0px;
}

.payment__header {
  border-bottom: 1px solid $govuk-border-colour;
  padding-bottom: 10px;
  margin-bottom: 5px;
}

.center {
  width: 100%;
  text-align: center;
}

.text-right {
  text-align: right;
}

.bottom-spacer {
  margin-bottom: 30px;
}

.payment-detail-row div:not(:last-child) {
  border-right: 1px solid $govuk-border-colour;
}

.status-amount {
  vertical-align: middle;
}

.status-tag {
  border-radius: 10px;
  text-transform: none;
  letter-spacing: inherit;
  margin-left: 5px;
}

.status-success {
  background-color: govuk-colour("turquoise");
}

.status-failed {
  background-color: govuk-colour("orange");
}

.status-in-progress {
  background-color: #6f777b;
  color: #f3f2f1;
}

.status-inline-spacer {
  margin-bottom: 15px;
}

.status-spacer {
  margin-bottom: 40px;
}