/*  @TODO(sfount) only import scss from frontend that is required */
@import "node_modules/govuk-frontend/all"; 

.success-summary { 
  border-color: govuk-colour("green");
}

.success-summary > .govuk-error-summary__title { 
  margin-bottom: 0px;
}

.circle { 
  width: 15px; 
  height: 15px;
  background-color: govuk-colour("grey-3");
  border-radius: 50%;
  margin-right: 2px;
  display: inline-block;
}

.status-connected { 
  background-color: govuk-colour("green");
}

.status-disconnected { 
  background-color: govuk-colour("red");
}

.flash-container {
  @extend .govuk-error-summary;
  margin-top: govuk-spacing(6);

    &--good {
    border-color:  govuk-colour("green");
  }

  .notification {
    @include govuk-font($size: 19);

    h2 {
      margin-top: 0;
    }
  }
}