/*  @TODO(sfount) only import scss from frontend that is required */
@import "govuk-frontend/govuk/all";

.success-summary {
  border-color: govuk-colour("green");
}

.success-summary > .govuk-error-summary__title {
  margin-bottom: 0px;
}

.circle {
  width: 15px;
  height: 15px;
  background-color: govuk-colour("light-grey");
  border-radius: 50%;
  margin-right: 2px;
  display: inline-block;
}

.status-connected {
  background-color: govuk-colour("green");
}

.status-disconnected {
  background-color: govuk-colour("red");
}

.flash-container {
  @extend .govuk-error-summary;
  margin-top: govuk-spacing(6);

    &--good {
    border-color:  govuk-colour("green");
  }

  .notification {
    @include govuk-font($size: 19);

    h2 {
      margin-top: 0;
    }
  }
}

.toolbox-right {
  float: right;
}

.user-profile {
  padding-top: govuk-spacing(2);
  padding-bottom: govuk-spacing(2);
  border-bottom: 1px solid $govuk-border-colour;
}

.user-profile__container {
  @include govuk-font($size: 16);
  @include govuk-text-colour;

  display: flex;
  flex-direction: row;
}

.user-profile__item {
  line-height: normal;
}
.user-profile__item:not(:last-child) {
  margin-right: govuk-spacing(1);
}
.user-profile__item.right {
  margin-left: auto;
}
.user-profile__item img {
  vertical-align: middle;
}

.avatar {
  border-radius: 3px;
}

.toolbox_header__offset {
  padding-left: 0px;
}

.payment__cell {
  border-bottom: none;
  padding-bottom: 0px;
}

.payment__header {
  border-bottom: 1px solid $govuk-border-colour;
  padding-bottom: 10px;
  margin-bottom: 5px;
}

.center {
  width: 100%;
  text-align: center;
}

.text-right {
  text-align: right;
}

.bottom-spacer {
  margin-bottom: 30px;
}

.top-spacer {
  margin-top: 15px;
}

.payment-detail-row div:not(:last-child) {
  border-right: 1px solid $govuk-border-colour;
}

.status-amount {
  vertical-align: middle;
}

.status-inline-spacer {
  margin-bottom: 15px;
}

.status-spacer {
  margin-bottom: 40px;
}

.row-invalid {
  background-color: govuk-colour("orange");
 }

 .fixed-cell {
   width: 200px;
   max-width: 200px;
 }

 .missing-text {
   color: govuk-colour("red");
 }

 .extra-text {
   color: govuk-colour("green");
 }

.list-page-filter__container {
  display: flex;
  flex-direction: row;
}

.list-page-filter__item {
  flex-grow: 1;
  text-align: center;
  border-top: 1px solid $govuk-border-colour;
  border-bottom: 1px solid $govuk-border-colour;

  padding-top: 15px;
  padding-bottom: 15px;
  cursor: pointer;
}

.list-page-filter__item.selected {
  border-bottom: 5px solid govuk-colour("blue");
}

.no-decoration {
  color: inherit;
  text-decoration: none;
}

.scrollflow {
  overflow-x: scroll;
}

.dashboard-card {
  background-color: white;
  padding: 15px;
  border-radius: 3px;

  box-shadow: 0 7px 14px 0 rgba(60,66,87, 0.12), 0 3px 6px 0 rgba(0,0,0, 0.12);
}

.stats-cell {
  @extend .govuk-table__cell;
  border-bottom: 0;
  padding: 5px 20px 5px 0;
}

.stats-table {
  @extend .govuk-table;
  margin-bottom: 0px;
}

.event-card {
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 3px;
  box-shadow: 0 7px 14px 0 rgba(60,66,87, 0.12), 0 3px 6px 0 rgba(0,0,0, 0.12);
}

.filter-select {
  min-width: 100%;
}

.test-data-banner {
  text-align: center;
  border-top: 5px solid govuk-colour("orange");
  z-index: 10;
}

// only include spacing correction if we're not on a large display
@include govuk-media-query($from: tablet) {
  .test-data-banner {
    margin-top: -#{govuk-spacing(4)};
  }
}

.test-data-tag {
  position: relative;
  display: inline-block;
  padding: 2px;
  padding-right: 8px;
  padding-left: 8px;
  background-color: govuk-colour("orange");
  color: govuk-colour("white")
}

.stripe-go-live-url-table-cell{
  word-break: break-word;
}

.ellipses-text-wrap {
  overflow: hidden;
  text-overflow: ellipsis;
}

.loader {
  width: 12px;
  height: 12px;
  border: 1px solid $govuk-secondary-text-colour;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
