/*  @TODO(sfount) only import the exact scss from frontend that is required */
/* goal is to reduce the CSS file size */
@import "node_modules/govuk-frontend/all"; 


/* @TODO(sfount) move this to relevent scss file - try and use standard frontend styles */ 
// .app-subnav__header { 
  // margin: 0;
  // color: $govuk-secondary-text-colour;
// }

.circle { 
  width: 15px; 
  height: 15px;
  background-color: #dee0e2;
  border-radius: 50%;
  margin-right: 2px;
  display: inline-block;
}

.status-connected { 
  background-color: #006435;
}

.status-disconnected { 
  background-color: #b10e1e;
}

.success-summary { 
  border-color: govuk-colour("green");
}

.success-summary > .govuk-error-summary__title { 
  margin-bottom: 0px;
}
