name: Github Actions Tests

on:
  workflow_call:
  pull_request:

permissions:
  contents: read

jobs:
  detect-secrets:
    runs-on: ubuntu-latest
    steps:
      - name: Git checkout
        uses: actions/checkout@24cb9080177205b6e8c946b17badbe402adc938f
      - name: Detect secrets
        uses: alphagov/pay-ci/actions/detect-secrets@master

  unit-tests:
    runs-on: ubuntu-latest
    name: Unit tests

    steps:
      - name: Checkout
        uses: actions/checkout@24cb9080177205b6e8c946b17badbe402adc938f
      - name: Parse Node version
        run: echo "NVMRC=$(cat .nvmrc)" >> $GITHUB_OUTPUT
        id: parse-node-version
      - name: Setup
        uses: actions/setup-node@64ed1c7eab4cce3362f8c340dee64e5eaeef8f7c
        with:
          node-version: "${{ steps.parse-node-version.outputs.NVMRC }}"
      - name: Cache NPM packages
        uses: actions/cache@940f3d7cf195ba83374c77632d1e2cbb2f24ae68
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: ${{ runner.os }}-node-
      - name: Install dependencies
        run: npm ci
      - name: Compile
        run: npm run compile
      - name: Run lint
        run: npm run lint
      - name: Run unit tests
        run: npm test -- --forbid-only --forbid-pending
