name: Github Actions Tests

on:
  workflow_call:
  pull_request:

permissions:
  contents: read

jobs:
  unit-tests:
    runs-on: ubuntu-18.04
    name: Unit tests

    steps:
      - name: Checkout
        uses: actions/checkout@dcd71f646680f2efd8db4afa5ad64fdcba30e748
      - name: Parse Node version
        run: echo "##[set-output name=NVMRC;]$(cat .nvmrc)"
        id: parse-node-version
      - name: Setup
        uses: actions/setup-node@56337c425554a6be30cdef71bf441f15be286854
        with:
          node-version: "${{ steps.parse-node-version.outputs.NVMRC }}"
      - name: Cache NPM packages
        uses: actions/cache@136d96b4aee02b1f0de3ba493b1d47135042d9c0
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: ${{ runner.os }}-node-
      - name: Install dependencies
        run: npm ci --legacy-peer-deps
      - name: Compile
        run: npm run compile
      - name: Run lint
        run: npm run lint
      - name: Run unit tests
        run: npm test -- --forbid-only --forbid-pending
